/* HOMEPAGE */
.p-5.bg-image.rounded-3{
    background-image: url("../img/JumbotronImage.739209310a49.png");
    height: 620px;
    padding-left: 8% !important;
    padding-right: 8% !important;
}

.mask{
    background-color: rgba(0, 0, 0, 0.6);
}

#siruco-title{
    font-size: 100px;
}

#button-learn-more.btn.btn-light{
    color: #3B8690;
    border-radius: 0px !important;
}

#pilihan-navigasi{
    padding-left: 15% !important;
    padding-right: 15% !important;
    background-color: #F1F7F7;
}

#aboutus{
    padding-left: 15% !important;
    padding-right: 15% !important;
    text-align: center;
}

.card, .card-group{
    border-color: white !important;
    justify-content: center !important;
    align-items: center !important;
}

#stethoscope, #hospital, #admin{
    width: 40%;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
}

.col.mt-5:hover{
    opacity: 0.5;
}

/* HOMEPAGE */

/* LOGIN */
#login, #register{
    background-image: url("../img/LoginBackground.c538947ae4c2.png");
    height: 620px;
    color: white;
}

#register{
    background-image: url("../img/RegisterBackground.0954c1b35d67.png");
}

.card-login, .card-register{
    background-color: rgba(0,0,0,0.5) !important;
    height: 370px;
    width: 400px;
    border-color: transparent!important;
    border-radius: 0px;
}

#register-text{
    color: #3B8690;
}

#login-submit, #register-submit, #daftar-pasien, #submit, #button-profile{
    background-color: #3B8690;
    border-radius: 0px;
    border-color: #3B8690;
}

.form-control{
    width: 300px;
}

.register, .login{
    margin-top: 10% !important;
    margin-bottom: 10% !important;
}

.pilih-role.btn.btn-secondary{
    background-color:#1F1F1F!important;
    border-radius: 0px;
    border-color: #1F1F1F!important;
}

.pilih-role.btn.btn-secondary.toggled{
    background-color: black;
    opacity: 0.5;
    border-radius: 0px;
}

.pilih-role.btn.btn-secondary:hover{
    background-color: black;
    opacity: 0.5;
}

.card-register{
    width: 500px !important;
}

.btn-group{
    width: 500px !important;
    justify-content: center !important;
}

/* LIST PASIEN */
#listPasien, #listFaskes{
    margin: 10%;
    height: 620px;
    text-align: center;
}

thead{
    background-color: #85B7BE;
    color: white;
}

#update, #delete, #detail{
    font-size: 12px;
    width: 70px;
    height: 30px;
    align-items: center;
    justify-content: center;
    border-color: transparent;
}

#update{
    background-color: #709A9F;
}

#delete{
    background-color: #B20119;
}

#detail{
    background-color: #3D3D3D;
}

.daftarPasien{
    margin: 10%;
}

.form-control.pasien{
    width: 700px;
}

.card-header{
    background-color: transparent;
}

.headerPasien{
    padding: 5%;
    background-image: url("../img/Pasien.5c0f58b25762.png");
}

.headerFaskes{
    padding: 5%;
    background-image: url("../img/FasilitasKesehatan.5eb7312d1d42.png");
}

.error {
    color: red;
    padding: 2%;
    justify-content: center;
}

/* SIDE NAVBAR */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background-image: url("../img/JumbotronImage.739209310a49.png");

    transition: all 0.3s;
    color: white;
}

li a{
    color: white;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background-image: url("../img/JumbotronImage.739209310a49.png");
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid white;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 15px;
    display: block;
}

#sidebar ul li a:hover {
    color: white;
    background: #3D3D3D;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #B20119;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #3D3D3D;
    color: white;
}

a.download {
    background: #fff;
    color: #3B8690;
}

#sidebarCollapse{
    padding-top : 25px;
    margin-left: -7%;
    padding-left: 50px;
    margin-top: 5%;
    background-image: url("../img/JumbotronImage.739209310a49.png");
    border-color: #F1F7F7;
}

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

/* CARD PROFILE */
.card-box {
    padding: 20px;
    border-radius: 3px;
    margin-bottom: 30px;
    background-color: #fff;
    margin-top: 15%;
}

.social-links li a {
    border-radius: 50%;
    color: rgba(121, 121, 121, .8);
    display: inline-block;
    height: 30px;
    line-height: 27px;
    border: 2px solid rgba(121, 121, 121, .5);
    text-align: center;
    width: 30px
}

.social-links li a:hover {
    color: #797979;
    border: 2px solid #797979
}
.thumb-lg {
    height: 88px;
    width: 88px;
}
.img-thumbnail {
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 100%;
    height: auto;
}
.btn-rounded {
    border-radius: 2em;
}
h4 {
    line-height: 22px;
    font-size: 18px;
}

/* MODAL */

.modal-content{
    background-color: transparent !important;
    border-color: transparent !important;
    color: white;
    font-size: 50px;
}

#jempol-image{
    width: 400px !important;
    height: 400px !important;
}