{% extends 'base.html' %}
{% load static %}
{%block style%}
<link rel="stylesheet" href="{% static 'app1/css/app1.css' %}">
<title>Buat Transaksi Makan</title>
{%endblock style%}

{% block content %}
<section id="header">
    <div class="headerPasien">
    </div>
</section>
<section id="form-transaksi-makan" class="p-4">
    <div class="daftarPasien">
        <div class="d-flex justify-content-center">
            <div class="card card-pasien">
                <div class="card-header">
                    <h3>Buat Transaksi Makan</h3>
                </div>
                <div class="card-body">
                    <form method="POST">
                        <div class="form-group" id="form-group">
                            {% csrf_token %}
                            {% if error %}
                                <p class="error">{{ error }}</p>
                            {% endif %}
                            <p>
                                <select id="idTransaksi" onchange="onchangeIdTransaksi()" name="idTransaksi" class="form-control pasien" required="true" placeholder="Id Transaksi">
                                    <option value="" name="idTransaksi" disabled selected>--- Pilih Id Transaksi ---</option>
                                    {% for id in idTransaksi %}
                                    <option value="{{ id }}" name="idTransaksi">{{ id }}</option>
                                    {% endfor %}
                                 </select>
                            </p>
                            <p>
                                <input class="form-control pasien" required="true" placeholder="Id Transaksi Makan" value="Id Transaksi Makan: {{ idTransaksiMakan }}" disabled>
                                <input type="hidden" name="idTransaksiMakan" value="{{ idTransaksiMakan }}">
                            </p>
                            <p>
                                <input id="kodeHotel" class="form-control pasien" required="true" placeholder="Kode Hotel" disabled>
                                <input type="hidden" name="kodeHotel" id="kodeHotelHidden">
                            </p>
                        </div>
                        <button id="submit" class="btn btn-primary intabel" method="POST">Simpan</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    var kodePaket = [];

    function onchangeIdTransaksi() {
        getKodeHotel();
        getKodePaketInit();
    }

    function getKodeHotel() {
        let xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                let res = JSON.parse(this.responseText);
                kodeHotel = document.getElementById('kodeHotel');
                kodeHotel.value = res['kodeHotel'];
                kodeHotel = document.getElementById('kodeHotelHidden');
                kodeHotel.value = res['kodeHotel'];
            }
        };
        idTransaksi = document.getElementById('idTransaksi').value;
        xhttp.open("GET", "{% url 'app5:api_getKodeHotelFromIdTransaksi' %}?idTransaksi=" + idTransaksi, true);
        xhttp.send();
    }

    function getKodePaketInit() {
        let xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                let res = JSON.parse(this.responseText);
                kodePaket = res['kodePaket'];
                cleanKodePaket();

                fg = document.getElementById('form-group');
                
                let added = document.createElement('h4');
                added.innerHTML = 'Pesanan:';
                fg.appendChild(added);

                let pAdded = document.createElement('p');
                fg.appendChild(pAdded);

                added = document.createElement('select');
                added.name = 'kodePaket';
                added.className = 'form-control pasien';
                added.required = 'true';
                added.placeholder = 'Kode Paket';
                pAdded.appendChild(added);

                let optionAdded = document.createElement('option');
                optionAdded.name = 'kodePaket';
                optionAdded.value = '';
                optionAdded.disabled = true;
                optionAdded.selected = true;
                optionAdded.innerHTML = '--- Pilih Kode Paket ---';
                added.appendChild(optionAdded);

                for (let i = 0; i < kodePaket.length; i++) {
                    optionAdded = document.createElement('option');
                    optionAdded.name = 'kodePaket';
                    optionAdded.value = kodePaket[i];
                    optionAdded.innerHTML = kodePaket[i];
                    added.appendChild(optionAdded);
                }

                added = document.createElement('button');
                added.type = 'button';
                added.className = 'btn btn-primary intabel';
                added.style = 'background-color: red;';
                added.innerHTML = 'Hapus Pesanan';
                added.onclick = function() { hapusPaket(this) };
                pAdded.appendChild(added);

                pAdded = document.createElement('p');
                fg.appendChild(pAdded);

                added = document.createElement('button');
                added.type = 'button';
                added.onclick = function() { getMoreKodePaket() };
                added.className = 'btn btn-primary intabel';
                added.innerHTML = 'Tambah Pesanan';
                pAdded.appendChild(added);
            }
        };
        idTransaksi = document.getElementById('idTransaksi').value;
        xhttp.open("GET", "{% url 'app5:api_getKodePaketFromIdTransaksi' %}?idTransaksi=" + idTransaksi, true);
        xhttp.send();
    }

    function getMoreKodePaket() {
        fg = document.getElementById('form-group');
        fg.removeChild(fg.children[fg.childElementCount - 1]);

        fg = document.getElementById('form-group');

        let pAdded = document.createElement('p');
        fg.appendChild(pAdded);

        added = document.createElement('select');
        added.name = 'kodePaket';
        added.className = 'form-control pasien';
        added.required = 'true';
        added.placeholder = 'Kode Paket';
        pAdded.appendChild(added);

        let optionAdded = document.createElement('option');
        optionAdded.name = 'kodePaket';
        optionAdded.value = '';
        optionAdded.disabled = true;
        optionAdded.selected = true;
        optionAdded.innerHTML = '--- Pilih Kode Paket ---';
        added.appendChild(optionAdded);

        for (let i = 0; i < kodePaket.length; i++) {
            optionAdded = document.createElement('option');
            optionAdded.name = 'kodePaket';
            optionAdded.value = kodePaket[i];
            optionAdded.innerHTML = kodePaket[i];
            added.appendChild(optionAdded);
        }

        added = document.createElement('button');
        added.type = 'button';
        added.className = 'btn btn-primary intabel';
        added.style = 'background-color: red;';
        added.innerHTML = 'Hapus Pesanan';
        added.onclick = function() { hapusPaket(this) };
        pAdded.appendChild(added);

        pAdded = document.createElement('p');
        fg.appendChild(pAdded);

        added = document.createElement('button');
        added.type = 'button';
        added.onclick = function() { getMoreKodePaket() };
        added.className = 'btn btn-primary intabel';
        added.innerHTML = 'Tambah Pesanan';
        pAdded.appendChild(added);
    }

    function cleanKodePaket() {
        fg = document.getElementById('form-group');
        while (fg.childElementCount > 4) {
            fg.removeChild(fg.children[4]);
        }
        nomorPaket = 0;
    }

    function hapusPaket(param) {
        fg = document.getElementById('form-group');
        if (fg.childElementCount == 7) {
            alert('Transaksi harus memiliki minimal satu paket');
            return;
        }
        let parent = param.parentElement;
        let parentOfParent = parent.parentElement;
        parentOfParent.removeChild(parent);
    }
</script>
{% endblock content %}