{% extends 'base.html' %}
{% load static %}

{%block style%}
<link rel="stylesheet" href="{% static 'app1/css/app1.css' %}">
<title> Buat Hotel </title>
{%endblock style%}

{%block content%}
<section id="header">
    <div class="headerPasien">
    </div>
</section>
<section id="daftarPasien" class="p-4">
    <div class="daftarPasien">
        <div class="d-flex justify-content-center">
            <div class="card card-pasien">
                <div class="card-header">
                    <h3>Buat Hotel</h3>
                </div>
                <div class="card-body">
                    <form method="POST">
                        <div class="form-group">
                            {% csrf_token %}
                            {% if error %}
                            <p class="error">{{ error }}</p>
                            {% endif %}
                            <p>
                                <input type="hidden" name="kode_hotel" value="{{ kode_hotel }}">
                                <input class="form-control" value="Kode Hotel: {{ kode_hotel }}" disabled>
                            </p>
                            <div class="d-flex flex-column mr-auto">
                                <p>
                                    <b>Rujukan: </b>
                                    <input type="checkbox" name="is_rujukan" id="id_is_rujukan">
                                </p>
                            </div>
                            <p>
                                <input type="text" name="nama" placeholder="Nama" class="form-control" required maxlength="30" id="id_nama">
                            </p>
                            <p>
                                <input type="text" name="jalan" placeholder="Jalan" class="form-control" required maxlength="30" id="id_jalan">
                            </p>
                            <p>
                                <input type="text" name="kelurahan" placeholder="Kelurahan" class="form-control" required maxlength="30" id="id_kelurahan">
                            </p>
                            <p>
                                <input type="text" name="kecamatan" placeholder="Kecamatan" class="form-control" required maxlength="30" id="id_kecamatan">
                            </p>
                            <p>
                                <input type="text" name="kabkot" placeholder="Kabupaten / Kota" class="form-control" required maxlength="30" id="id_kabkot">
                            </p>
                            <p>
                                <input type="text" name="prov" placeholder="Provinsi" class="form-control" required maxlength="30" id="id_prov">
                            </p>
                        </div>
                        <button id="submit" class="btn btn-primary intabel" method="POST">Simpan</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}