{% extends 'base.html' %}
{% load static %}

{%block style%}
<link rel="stylesheet" href="{% static 'app1/css/app1.css' %}">
<title> Buat Paket Makan </title>
{%endblock style%}

{%block content%}
<section id="header">
    <div class="headerPasien">
    </div>
</section>
<section id="daftarPasien" class="p-4">
    <div class="daftarPasien">
        <div class="d-flex justify-content-center">
            <div class="card card-pasien">
                <div class="card-header">
                    <h3>Buat Paket Makan</h3>
                </div>
                <div class="card-body">
                    {% if error %}
                    <p class="error">{{ error }}</p>
                    {% endif %}
                    <form method="POST">
                        <div class="form-group">
                            {% csrf_token %}
                            <p>
                                <select name="kode_hotel" placeholder="Kode Hotel" class="form-control" required id="id_kode_hotel">
                                    <option value="" name="kode_hotel" disabled selected>Kode Hotel</option>
                                    {% for kode in kode_hotel %}
                                    <option value="{{ kode }}" name="kode_hotel">{{ kode }}</option>
                                    {% endfor %}
                                </select>
                            </p>
                            <p>
                                <input type="text" name="kode_paket" placeholder="Kode Paket" class="form-control" required maxlength="5" id="id_kode_paket">
                            </p>
                            <p>
                                <input type="text" name="nama" placeholder="Nama" class="form-control" required maxlength="20" id="id_nama">
                            </p>                            
                            <p>
                                <input type="number" name="harga" min="0" placeholder="Harga" class="form-control" required id="id_harga">
                            </p>
                        </div>
                        <button id="submit" class="btn btn-primary intabel" method="POST">Simpan</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}