{% extends 'base.html' %}
{% load static %}
{%block style%}
<link rel="stylesheet" href="{% static 'app1/css/app1.css' %}">
<title>Detail Transaksi Makan</title>
{%endblock style%}

{% block content %}
<section id="header">
    <div class="headerPasien">
    </div>
</section>
<section class="p-4">
    <div class="d-flex justify-content-center align-items-center">
        <div class="card card-pasien">
            <div class="card-header">
                <h3>Detail Transaksi Makan</h3>
            </div>
            <div class="d-flex flex-column mr-auto">
                <div>
                    <p><b>Id Transaksi: </b>{{ idTransaksi }}</p>
                </div>
                <div>
                    <p><b>Id Transaksi Makan: </b>{{ idTransaksiMakan }}</p>
                </div>
                <div>
                    <p><b>Kode Hotel: </b>{{ kodeHotel }}</p>
                </div>
                
                <table class="table align-middle shadow p-3 mb-5 bg-white rounded">
                    <thead>
                      <tr>
                        <th scope="col">Id Pesanan</th>
                        <th scope="col">Paket Makan</th>
                        <th scope="col">Harga</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for pesanan in daftarPesan %}
                        <tr>
                            <th scope="row">{{ pesanan.0 }}</th>
                            <td>{{ pesanan.1 }}</td>
                            <td>Rp. {{ pesanan.2 }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    
                </table>
                <p><b>Total: </b>Rp. {{ totalBayar }}</p>
            </div>
        </div>
    </div>
</section>
{% endblock content %}