{% extends 'base.html' %}
{% load static %}
{%block style%}
<link rel="stylesheet" href="{% static 'app1/css/app1.css' %}">
<title>Buat Transaksi Makan</title>
{%endblock style%}

{% block content %}
<section id="header">
    <div class="headerPasien">
    </div>
</section>
<section id="error" class="p-4">
    <div class="listPasien">
        <div class="d-flex justify-content-center align-items-center">
            <p>Operasi tidak dapat dilakukan.</p>
        </div>
    </div>
</section>
{% endblock content %}