{% extends 'base.html' %}
{% load static %}

{%block style%}
<link rel="stylesheet" href="{% static 'app1/css/app1.css' %}">
<title> List Transaksi Makan </title>
{%endblock style%}

{%block content%}
<section id="header">
    <div class="headerPasien">
    </div>
</section>
<section id="listPasien" class="p-4">
    <div class="listPasien">
        <div class="d-flex justify-content-center align-items-center">
            <div class="card card-pasien">
                <div class="card-header">
                    <h3>List Transaksi Makan</h3>
                </div>
                <div class="card-body">
                <table class="table align-middle shadow p-3 mb-5 bg-white rounded">
                    <thead>
                      <tr>
                        <th scope="col">No.</th>
                        <th scope="col">Id Transaksi Hotel</th>
                        <th scope="col">Id Transaksi</th>
                        <th scope="col">Total Bayar</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for transaksi in transaksiMakan %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ transaksi.0 }}</td>
                            <td>{{ transaksi.1 }}</td>
                            <td>Rp. {{ transaksi.2 }}</td>
                            {% if transaksi.3 != 'LUNAS' and peran == 'admin_satgas' %}
                            <td>
                                <a href="{% url 'app5:updateTransaksiMakan' %}?idTransaksi={{ transaksi.0 }}&idTransaksiMakan={{ transaksi.1 }}"><button type="button" id="update" class="btn btn-secondary">Update</button></a>
                            </td>
                            <td>
                                <form method="POST" action="{% url 'app5:deleteTransaksiMakan' %}">
                                    {% csrf_token %}
                                    <input type="hidden" value="{{ transaksi.0 }}" name="idTransaksi">
                                    <input type="hidden" value="{{ transaksi.1 }}" name="idTransaksiMakan">
                                    <button type="submit" id="delete" class="btn btn-secondary">Delete</button>
                                </form>
                            </td>
                            {% endif %}
                            <td>
                                <a href="{% url 'app5:detailTransaksiMakan'%}?idTransaksi={{ transaksi.0 }}&idTransaksiMakan={{ transaksi.1 }}"><button type="button" id="detail" class="btn btn-secondary">Detail</button></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}