{% extends 'base.html' %}
{% load static %}

{%block style%}
<link rel="stylesheet" href="{% static 'app1/css/app1.css' %}">
<title> List Paket Makan </title>
{%endblock style%}

{%block content%}
<section id="header">
    <div class="headerPasien">
    </div>
</section>
<section id="listPasien" class="p-4">
    <div class="listPasien">
        <div class="d-flex justify-content-center align-items-center">
            <div class="card card-pasien">
                <div class="card-header">
                    <h3>List Paket Makan</h3>
                </div>
                <div class="card-body">
                <table class="table align-middle shadow p-3 mb-5 bg-white rounded">
                    <thead>
                      <tr>
                        <th scope="col">No.</th>
                        <th scope="col">Hotel</th>
                        <th scope="col">Kode Paket</th>
                        <th scope="col">Nama Paket</th>
                        <th scope="col">Harga</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for paket in paket_makan %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ paket.0 }}</td>
                            <td>{{ paket.1 }}</td>
                            <td>{{ paket.2 }}</td>
                            <td>Rp. {{ paket.3 }}</td>
                            {% if peran == 'admin' %}
                            <td>
                                <a href="{% url 'app5:updatePaketMakan' %}?kode_hotel={{ paket.0 }}&kode_paket={{ paket.1 }}"><button type="button" id="update" class="btn btn-secondary">Update</button></a>
                            </td>
                            {% if paket.4 == 0 %}
                            <td>
                                <form method="POST" action="{% url 'app5:deletePaketMakan' %}">
                                    {% csrf_token %}
                                    <input type="hidden" value="{{ paket.0 }}" name="kode_hotel">
                                    <input type="hidden" value="{{ paket.1 }}" name="kode_paket">
                                    <button type="submit" id="delete" class="btn btn-secondary">Delete</button>
                                </form>
                            </td>
                            {% endif %}
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}