{% extends 'base.html' %}
{% load static %}

{%block style%}
<link rel="stylesheet" href="{% static 'app1/css/app1.css' %}">
<title> List Hotel </title>
{%endblock style%}

{%block content%}
<section id="header">
    <div class="headerPasien">
    </div>
</section>
<section id="listPasien" class="p-4">
    <div class="listPasien">
        <div class="d-flex justify-content-center align-items-center">
            <div class="card card-pasien">
                <div class="card-header">
                    <h3>List Hotel</h3>
                </div>
                <div class="card-body">
                <table class="table align-middle shadow p-3 mb-5 bg-white rounded">
                    <thead>
                      <tr>
                        <th scope="col">No.</th>
                        <th scope="col">Kode</th>
                        <th scope="col">Hotel</th>
                        <th scope="col">Rujukan</th>
                        <th scope="col">Alamat</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for h in hotel %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ h.0 }}</td>
                            <td>{{ h.1 }}</td>
                            {% if h.2 == '1' %}
                            <td><input type="checkbox" checked="checked" onclick="return false;"></td>
                            {% else %}
                            <td><input type="checkbox" onclick="return false;"></td>
                            {% endif %}
                            <td>{{ h.3 }}, {{ h.4 }}, {{ h.5 }}, {{ h.6 }}, {{ h.7 }}</td>
                            {% if peran == 'admin' %}
                            <td>
                                <a href="{% url 'app5:updateHotel' %}?kode_hotel={{ h.0 }}"><button type="button" id="update" class="btn btn-secondary">Update</button></a>
                            </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}