{% extends 'base.html' %}
{% load static %}
{%block style%}
<link rel="stylesheet" href="{% static 'app1/css/app1.css' %}">
<title>Ubah Paket Makan</title>
{%endblock style%}

{% block content %}
<section id="header">
    <div class="headerPasien">
    </div>
</section>
<section class="p-4">
    <div class="d-flex justify-content-center align-items-center">
        <div class="card card-pasien">
            <div class="card-header">
                <h3>Ubah Paket Makan</h3>
            </div>
            <div class="d-flex flex-column mr-auto">
                <div>
                    <p><b>Hotel: </b>{{ kode_hotel }}</p>
                </div>
                <div>
                    <p><b>Kode Paket: </b>{{ kode_paket }}</p>
                </div>
            </div>
            <div class="card-body">
                <form method="POST">
                    {% if error %}
                        <p class="error">{{ error }}</p>
                    {% endif %}
                    <div class="form-group" id="form-group">
                        {% csrf_token %}
                        <input type="hidden" name="kode_hotel" value="{{ kode_hotel }}" required>
                        <input type="hidden" name="kode_paket" value="{{ kode_paket }}" required>
                        <p>
                            <input value="{{ paket_makan.0 }}" type="text" name="nama" placeholder="Nama" class="form-control" required maxlength="20" id="id_nama">
                        </p>                            
                        <p>
                            <input value="{{ paket_makan.1 }}" type="number" name="harga" min="0" placeholder="Harga" class="form-control" required id="id_harga">
                        </p>
                    </div>
                    <button id="submit" class="btn btn-primary intabel" method="POST">Simpan</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock content %}