{% extends 'base.html' %}
{% load static %}
{%block style%}
<link rel="stylesheet" href="{% static 'app1/css/app1.css' %}">
<title>Ubah Transaksi Makan</title>
{%endblock style%}

{% block content %}
<section id="header">
    <div class="headerPasien">
    </div>
</section>
<section class="p-4">
    <div class="d-flex justify-content-center align-items-center">
        <div class="card card-pasien">
            <div class="card-header">
                <h3>Ubah Transaksi Makan</h3>
            </div>
            <div class="d-flex flex-column mr-auto">
                <div>
                    <p><b>Id Transaksi: </b>{{ idTransaksi }}</p>
                </div>
                <div>
                    <p><b>Id Transaksi Makan: </b>{{ idTransaksiMakan }}</p>
                </div>
                <div>
                    <p><b>Kode Hotel: </b>{{ kodeHotel }}</p>
                </div>
                <div>
                    <p><b>Pesanan Sebelumnya:</b></p>
                    <p><b>Kode Paket:</b></p>
                    <ul>
                        {% for paket in daftarPesan %}
                            <li>{{ paket }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="card-body">
                <form method="POST">
                    {% if error %}
                        <p class="error">{{ error }}</p>
                    {% endif %}
                    <div class="form-group" id="form-group">
                        {% csrf_token %}
                        <input type="hidden" id="idTransaksi" name="idTransaksi" value="{{ idTransaksi }}" required>
                        <input type="hidden" name="idTransaksiMakan" value="{{ idTransaksiMakan }}" required>
                        <input type="hidden" id="kodeHotel" name="kodeHotel" value="{{ kodeHotel }}" required>

                    </div>
                    <button id="submit" class="btn btn-primary intabel" method="POST">Simpan</button>
                </form>
            </div>
        </div>
    </div>
</section>
<script>
    window.onload = function() {
        getKodePaketInit();
    }

    function getKodePaketInit() {
        let xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                let res = JSON.parse(this.responseText);
                kodePaket = res['kodePaket'];
                cleanKodePaket();

                fg = document.getElementById('form-group');
                
                let added = document.createElement('h4');
                added.innerHTML = 'Pesanan Tambahan:';
                fg.appendChild(added);

                let pAdded = document.createElement('p');
                fg.appendChild(pAdded);

                added = document.createElement('select');
                added.name = 'kodePaket';
                added.className = 'form-control pasien';
                added.required = 'true';
                added.placeholder = 'Kode Paket';
                pAdded.appendChild(added);

                let optionAdded = document.createElement('option');
                optionAdded.name = 'kodePaket';
                optionAdded.value = '';
                optionAdded.disabled = true;
                optionAdded.selected = true;
                optionAdded.innerHTML = '--- Pilih Kode Paket ---';
                added.appendChild(optionAdded);

                for (let i = 0; i < kodePaket.length; i++) {
                    optionAdded = document.createElement('option');
                    optionAdded.name = 'kodePaket';
                    optionAdded.value = kodePaket[i];
                    optionAdded.innerHTML = kodePaket[i];
                    added.appendChild(optionAdded);
                }

                added = document.createElement('button');
                added.type = 'button';
                added.className = 'btn btn-primary intabel';
                added.style = 'background-color: red;';
                added.innerHTML = 'Hapus Pesanan';
                added.onclick = function() { hapusPaket(this) };
                pAdded.appendChild(added);

                pAdded = document.createElement('p');
                fg.appendChild(pAdded);

                added = document.createElement('button');
                added.type = 'button';
                added.onclick = function() { getMoreKodePaket() };
                added.className = 'btn btn-primary intabel';
                added.innerHTML = 'Tambah Pesanan';
                pAdded.appendChild(added);
            }
        };
        idTransaksi = document.getElementById('idTransaksi').value;
        xhttp.open("GET", "{% url 'app5:api_getKodePaketFromIdTransaksi' %}?idTransaksi=" + idTransaksi, true);
        xhttp.send();
    }

    function getMoreKodePaket() {
        fg = document.getElementById('form-group');
        fg.removeChild(fg.children[fg.childElementCount - 1]);

        fg = document.getElementById('form-group');

        let pAdded = document.createElement('p');
        fg.appendChild(pAdded);

        added = document.createElement('select');
        added.name = 'kodePaket';
        added.className = 'form-control pasien';
        added.required = 'true';
        added.placeholder = 'Kode Paket';
        pAdded.appendChild(added);

        let optionAdded = document.createElement('option');
        optionAdded.name = 'kodePaket';
        optionAdded.value = '';
        optionAdded.disabled = true;
        optionAdded.selected = true;
        optionAdded.innerHTML = '--- Pilih Kode Paket ---';
        added.appendChild(optionAdded);

        for (let i = 0; i < kodePaket.length; i++) {
            optionAdded = document.createElement('option');
            optionAdded.name = 'kodePaket';
            optionAdded.value = kodePaket[i];
            optionAdded.innerHTML = kodePaket[i];
            added.appendChild(optionAdded);
        }

        added = document.createElement('button');
        added.type = 'button';
        added.className = 'btn btn-primary intabel';
        added.style = 'background-color: red;';
        added.innerHTML = 'Hapus Pesanan';
        added.onclick = function() { hapusPaket(this) };
        pAdded.appendChild(added);

        pAdded = document.createElement('p');
        fg.appendChild(pAdded);

        added = document.createElement('button');
        added.type = 'button';
        added.onclick = function() { getMoreKodePaket() };
        added.className = 'btn btn-primary intabel';
        added.innerHTML = 'Tambah Pesanan';
        pAdded.appendChild(added);
    }

    function cleanKodePaket() {
        fg = document.getElementById('form-group');
        while (fg.childElementCount > 4) {
            fg.removeChild(fg.children[4]);
        }
        nomorPaket = 0;
    }

    function hapusPaket(param) {
        fg = document.getElementById('form-group');
        if (fg.childElementCount == 7) {
            alert('Perubahan harus memiliki minimal satu paket');
            return;
        }
        let parent = param.parentElement;
        let parentOfParent = parent.parentElement;
        parentOfParent.removeChild(parent);
    }
</script>
{% endblock content %}