{% extends 'base.html' %}
{% load static %}
{%block style%}
<link rel="stylesheet" href="{% static 'app1/css/app1.css' %}">
<title>Ubah Hotel</title>
{%endblock style%}

{% block content %}
<section id="header">
    <div class="headerPasien">
    </div>
</section>
<section class="p-4">
    <div class="d-flex justify-content-center align-items-center">
        <div class="card card-pasien">
            <div class="card-header">
                <h3>Ubah Hotel</h3>
            </div>
            <div class="card-body">
                <form method="POST">
                    {% if error %}
                        <p class="error">{{ error }}</p>
                    {% endif %}
                    <div class="form-group" id="form-group">
                        {% csrf_token %}
                        <input type="hidden" name="kode_hotel" value="{{ kode_hotel }}" required>
                        <div class="d-flex flex-column mr-auto">
                            <p><b>Kode Hotel: </b>{{ kode_hotel }}</p>
                            <p>
                                <b>Rujukan: </b>
                                {% if hotel.1 == '1' %}
                                <input type="checkbox" checked="checked" name="is_rujukan" id="id_is_rujukan">
                                {% else %}
                                <input type="checkbox" name="is_rujukan" id="id_is_rujukan">
                                {% endif %}
                            </p>
                        </div>
                        <p>
                            <input type="text" name="nama" placeholder="Nama" class="form-control" required maxlength="30" id="id_nama" value="{{ hotel.0 }}">
                        </p>
                        <p>
                            <input type="text" name="jalan" placeholder="Jalan" class="form-control" required maxlength="30" id="id_jalan" value="{{ hotel.2 }}">
                        </p
                        <p>
                            <input type="text" name="kelurahan" placeholder="Kelurahan" class="form-control" required maxlength="30" id="id_kelurahan" value="{{ hotel.3 }}">
                        </p>
                        <p>
                            <input type="text" name="kecamatan" placeholder="Kecamatan" class="form-control" required maxlength="30" id="id_kecamatan" value="{{ hotel.4 }}">
                        </p>
                        <p>
                            <input type="text" name="kabkot" placeholder="Kabupaten / Kota" class="form-control" required maxlength="30" id="id_kabkot" value="{{ hotel.5 }}">
                        </p>
                        <p>
                            <input type="text" name="prov" placeholder="Provinsi" class="form-control" required maxlength="30" id="id_prov" value="{{ hotel.6 }}">
                        </p>
                    </div>
                    <button id="submit" class="btn btn-primary intabel" method="POST">Simpan</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock content %}