{% extends 'base.html' %}
{% load static %}

{%block style%}
<link rel="stylesheet" href="{% static 'app1/css/app1.css' %}">
<title> Daftar Pasien </title>
{%endblock style%}

{%block content%}
<section id="header">
    <div class="headerPasien">
    </div>
</section>
<section id="buatJadwalDokter" class="p-4">
    <div class="buatJadwalDokter">
      {% if 'dokter' == peran %}
        <h3>Form Pembuatan Jadwal Dokter</h3>
        <div class="d-flex justify-content-center align-items-center">
            <table class="table align-middle shadow p-3 mb-5 bg-white rounded">
                <thead>
                  <tr>
                    <th scope="col">No.</th>
                    <th scope="col">Kode Faskes</th>
                    <th scope="col">Shift</th>
                    <th scope="col">Tanggal</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                    {%for kode_faskes,shift,tanggal in jadwal%}
                  <tr>
                    <td> {{kode_faskes}} </td>
                    <td> {{shift}} </td>
                    <td> {{tanggal}} </td>
                    <td>
                        <a href="{% url 'app2:tambahJadwalDokter' kodeFaskes=kode_faskes shift=shift tanggal=tanggal %}">
                        <button type="button" id="update" class="btn btn-secondary">Create</button>
                      </td>
                  </tr>
                  {%endfor%}
                  <script>
                    var tables = document.getElementsByTagName('tbody')
                    var table = tables[tables.length - 1];
                    var rows = table.rows;
                    for(var i = 0, td; i < rows.length; i++){
                        td = document.createElement('td');
                        td.appendChild(document.createTextNode(i + 1));
                        rows[i].insertBefore(td, rows[i].firstChild);
                    }
                </script>
                </tbody>
              </table>
        </div>
        {% else %}
        <div class="card-header">
          <h3>Anda tidak dapat mengakses halaman ini</h3>
        </div>
        {% endif %}
    </div>
</section>
{% endblock content %}