{% extends 'base.html' %}
{% load static %}

{%block style%}
<link rel="stylesheet" href="{% static 'app1/css/app1.css' %}">
<title> Daftar Pasien </title>
{%endblock style%}

{%block content%}
<section id="header">
    <div class="headerPasien">
    </div>
</section>
<section id="buatRuanganRS" class="p-4">
    <div class="buatRuanganRS">
        <div class="d-flex justify-content-center align-items-center">
            {% if peran == 'admin_satgas' %}
            <div class="card-body">
                <h3>Form Pembuatan Ruangan Rumah Sakit</h3>
                <form method="POST">
                    <div class="form-group">
                        {% csrf_token %}
                        {%for field in form%}
                            <p> {{field}} </p>
                        {%endfor%}
                    </div>
                    <button id="submit" class="btn btn-primary intabel" method="POST">Simpan</button>
                </form>
            </div>
        </div>
        {% else %}
        <div class="card-header">
          <h3>Anda tidak dapat mengakses halaman ini</h3>
        </div>
        {% endif %}
        <div class="card-header">
        {% if error %}
        <p>{{error}}</p>
        </div>
        {%endif%}
    </div>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'app2/javascript/app2.js' %}" type="text/javascript"></script>
{% endblock content %}