{% extends 'base.html' %}
{% load static %}

{%block style%}
<link rel="stylesheet" href="{% static 'app1/css/app1.css' %}">
<title> Daftar Pasien </title>
{%endblock style%}

{%block content%}
<section id="header">
    <div class="headerPasien">
    </div>
</section>
<section id="listJadwalDokter" class="p-4">
    <div class="listJadwalDokter">
      {% if peran == 'pengguna_publik' or peran == 'dokter' or peran == 'admin_satgas' %}
      <h3>List Appointment Dengan Dokter</h3>
        <div class="d-flex justify-content-center align-items-center">
            <table class="table align-middle shadow p-3 mb-5 bg-white rounded">
                <thead>
                  <tr>
                    <th scope="col">No.</th>
                    <th scope="col">NIK Pasien</th>
                    <th scope="col">Email Dokter</th>
                    <th scope="col">Faskes</th>
                    <th scope="col">Shift</th>
                    <th scope="col">Tanggal</th>
                    <th scope="col">Rekomendasi</th>
                    {% if peran == 'dokter' or peran == 'admin_satgas' %}
                    <th scoper="col">Action</th>
                    {% endif %}
                  </tr>
                </thead>
                <tbody>
                    {%for NIK,nostr,Email,kodeFaskes,shift,tanggal,rekomendasi in jadwal%}
                  <tr>
                    <td> {{NIK}} </td>
                    <td> {{Email}} </td>
                    <td> {{kodeFaskes}} </td>
                    <td> {{shift}} </td>
                    <td> {{tanggal}} </td>
                    <td> {{rekomendasi}} </td>
                    {% if peran == 'dokter' %}
                    <td>
                      <a href="{% url 'app2:updateAppointmentDenganDokter' nik=NIK noSTR=nostr email=Email kodeFaskes=kodeFaskes shift=shift tanggal=tanggal %}">
                      <button type="button" id="update" class="btn btn-secondary">Update</button>
                    </td>
                    {% endif %}
                    {% if peran == 'admin_satgas' %}
                    <td>
                      <a href="{% url 'app2:deleteAppointmentDenganDokter' nik=NIK noSTR=nostr email=Email kodeFaskes=kodeFaskes shift=shift tanggal=tanggal %}">
                      <button type="button" id="delete" class="btn btn-secondary">Delete</button>
                    </td>
                    {% endif %}
                  </tr>
                  {%endfor%}
                  <script>
                    var tables = document.getElementsByTagName('tbody')
                    var table = tables[tables.length - 1];
                    var rows = table.rows;
                    for(var i = 0, td; i < rows.length; i++){
                        td = document.createElement('td');
                        td.appendChild(document.createTextNode(i + 1));
                        rows[i].insertBefore(td, rows[i].firstChild);
                    }
                </script>
                </tbody>
              </table>
        </div>
        {% if peran == 'pengguna_publik' or peran == 'admin_satgas' %}
        <a href="{% url 'app2:buatAppointmentDenganDokter' %}"> 
            <button type="button" id="jadwal-dokter" class="btn btn-secondary">Buat Appointment Dengan Dokter</button>
        </a>
        {% endif %}
        {% else %}
        <div class="card-header">
          <h3>Anda tidak dapat mengakses halaman ini</h3>
        </div>
        {% endif %}
    </div>
</section>
{% endblock content %}