{% extends 'base.html' %}
{% load static %}

{%block style%}
<link rel="stylesheet" href="{% static 'app1/css/app1.css' %}">
<title> Daftar Pasien </title>
{%endblock style%}

{%block content%}
<section id="header">
    <div class="headerPasien">
    </div>
</section>
<section id="listJadwalDokter" class="p-4">
    <div class="listJadwalDokter">
      <h3>List Bed Ruangan RS</h3>
        <div class="d-flex justify-content-center align-items-center">
            {% if peran == 'admin_satgas' %}
            <table class="table align-middle shadow p-3 mb-5 bg-white rounded">
                <thead>
                  <tr>
                    <th scope="col">No.</th>
                    <th scope="col">Kode RS</th>
                    <th scope="col">Kode Ruangan</th>
                    <th scope="col">Kode Bed</th>
                    <th scoper="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                    {%for kodeRuangan, kodeRS, kodeBed in bedRS%}
                  <tr>
                    <td> {{kodeRS}} </td>
                    <td> {{kodeRuangan}} </td>
                    <td> {{kodeBed}} </td>
                    <td>
                      <a href="{% url 'app2:deleteBedRS' kodeRS kodeRuangan kodeBed %}">
                      <button type="button" id="delete" class="btn btn-secondary">Delete</button>
                    </td>
                  </tr>
                  {%endfor%}
                  <script>
                    var tables = document.getElementsByTagName('tbody')
                    var table = tables[tables.length - 1];
                    var rows = table.rows;
                    for(var i = 0, td; i < rows.length; i++){
                        td = document.createElement('td');
                        td.appendChild(document.createTextNode(i + 1));
                        rows[i].insertBefore(td, rows[i].firstChild);
                    }
                </script>
                </tbody>
              </table>
        </div>
        {% else %}
        <div class="card-header">
          <h3>Anda tidak dapat mengakses halaman ini</h3>
        </div>
        {% endif %}
    </div>
</section>
{% endblock content %}