{% extends 'base.html' %}
{% load static %}

{%block style%}
<link rel="stylesheet" href="{% static 'app1/css/app1.css' %}">
<title> Daftar Pasien </title>
{%endblock style%}

{%block content%}
<section id="header">
    <div class="headerPasien">
    </div>
</section>
<section id="buatJadwalDokter" class="p-4">
    <div class="buatJadwalDokter">
        {% if peran == 'dokter' %}
        <h3>Update Appointment Dengan Dokter</h3>
        <div class="d-flex justify-content-center align-items-center">
            <div class="card-body">
                <form method="POST">
                    <div class="form-group">
                        {% csrf_token %}
                        {%for field in form%}
                            <p> {{field}} </p>
                        {%endfor%}
                    </div>
                    <button id="submit" class="btn btn-primary intabel" method="POST">Simpan</button>
                </form>
            </div>
        </div>
        {% else %}
        <div class="card-header">
          <h3>Anda tidak dapat mengakses halaman ini</h3>
        </div>
        {% endif %}
    </div>
</section>
{% endblock content %}