/* LIST RUANGAN HOTEL */

#listRuanganH{
    margin: 10%;
    height: 620px;
    text-align: center;
}

thead{
    background-color: #85B7BE;
    color: white;
}

#update, #delete, #detail{
    font-size: 12px;
    width: 70px;
    height: 30px;
    align-items: center;
    justify-content: center;
    border-color: transparent;
}

#update{
    background-color: #709A9F;
}

#delete{
    background-color: #B20119;
}

#detail{
    background-color: #3D3D3D;
}

.headerRuanganH{
    padding: 5%;
    background-image: url("../img/Hotel.d5a03dd58122.png");
}

.error {
    color: red;
    padding: 2%;
    justify-content: center;
}






.card-create, .card-group{
    border-color: white !important;
    justify-content: center !important;
    align-items: center !important;
    width: 50%;
}

.card-body{
    width: 100%;
}

.daftarRuanganH{
    margin: 10%;
}

.form-control {
    width: 100%;
}

.card-header{
    background-color: transparent;
    text-align: center;
}