{% extends 'base.html' %}
{% load static %}

{%block style%}
<!-- CSS -->
<link rel="stylesheet" href="{% static 'app3/css/app3.css' %}">

<!-- JavaScripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<title> Reservasi RS </title>
{%endblock style%}

{%block content%}
<section id="header">
    <div class="headerFaskes">
    </div>
</section>
<section id="buatFaskes" class="p-4">
    <div class="buatFaskes">
        <div class="d-flex justify-content-center">
            <div class="card card-reservasiRS">
                <div class="card-header">
                    <h3>Buat Faskes</h3>
                </div>
                <div class="card-body">
                    <form action="/buatFaskes/" method="POST">
                        <div class="form-group">
                            {% csrf_token %}
                                <p>
                                    {% if kodeFaskes %}
                                    <input type="text" name="kodeFaskes" class="form-control Faskes" value="{{kodeFaskes}}" placeholder="Kode Faskes" disabled>
                                    <input type="hidden" value="{{kodeFaskes}}" name="kodeFaskes-hidden">
                                    {%endif%}
                                </p>
                                {%for field in form%}
                                <p> {{field}} </p>
                            {%endfor%}
                        </div>
                        <div class="col">
                            {% if error %}
                            <p>{{error}}</p>
                            {%endif%}
                        </div>
                        <button id="submit-buatFaskes" class="btn btn-primary intabel">Simpan</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $( window ).load(function() {
        $("input[name='kodeFaskes-hidden']").val($("input[name='kodeFaskes']").val());
        console.log($("input[name='kodeFaskes-hidden']").val());
    });
</script>
<script src="{% static 'app3/javascript/app3.js' %}" type="text/javascript"></script>
{% endblock content %}