{% extends 'base.html' %}
{% load static %}

{%block style%}
<!-- CSS -->
<link rel="stylesheet" href="{% static 'app3/css/app3.css' %}">

<!-- JavaScripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<title> Buat Rumah Sakit </title>
{%endblock style%}

{%block content%}
<section id="header">
    <div class="headerReservasiRS">
    </div>
</section>
<section id="reservasiRS" class="p-4">
    <div class="reservasiRS">
        <div class="d-flex justify-content-center">
            <div class="card card-reservasiRS">
                <div class="card-header">
                    <h3>Form Buat Rumah Sakit</h3>
                </div>
                <div class="card-body">
                    <form action="/buatRS/" method="POST">
                        <div class="form-group">
                            {% csrf_token %}

                            {%if listOfKodeFaskes %}
                            <select class="form-control RS"  id = "select-kode-faskes" name="faskes">
                                {% for kode in listOfKodeFaskes %}
                                <option value="{{kode.0}}"> {{kode.0}} </option>
                                {%endfor%}
                            </select>
                            {%endif%}
                            {%for f in form%}
                                <p> {{f.label}} </p>
                                <p> {{f}} </p>
                            {%endfor%}
                        </div>
                        <div class="col">
                            {% if error %}
                            <p>{{error}}</p>
                            {%endif%}
                        </div>
                        <button id="submit" class="btn btn-primary intabel">Simpan</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="{% static 'app3/javascript/app3.js' %}" type="text/javascript"></script>
{% endblock content %}