{% extends 'base.html' %}
{% load static %}

{%block style%}
<link rel="stylesheet" href="{% static 'app3/css/app3.css' %}">
<title> List Reservasi RS </title>
{%endblock style%}

{%block content%}
<section id="headerFaskes">
    <div class="headerFaskes">
    </div>
</section>
<section id="listJadwalFaskes" class="p-4">
    <div class="listJadwalFaskes">
        <div class="col">
            <div id="card-detail-faskes" class="card shadow">
                <div class="card-header">
                    <h4 class="font-weight-bold"> DATA FASILITAS KESEHATAN </h4>
                </div>
                <div class="card-body">
                    {% for tuple in setOfFaskes %}
                        <p> Kode Faskes: {{tuple.0}} </p>
                        <p> Tipe: {{tuple.1}} </p>
                        <p> Nama Faskes: {{tuple.2}} </p>
                        <p> Status Kepemilikan: {{tuple.3}} </p>
                        <p class="font-weight-bold"> Alamat: </p>
                        <p> Jalan: {{tuple.4}} </p>
                        <p> Kelurahan: {{tuple.5}} </p>
                        <p> Kecamatan: {{tuple.6}} </p>
                        <p> Kabupaten/Kota: {{tuple.7}} </p>
                        <p> Provinsi: {{tuple.8}} </p>
                    {%endfor%}
                </div>
                <a href="{% url 'app3:listFaskes' %}"> 
                    <button type="button" id="button-kembali" class="btn btn-secondary">Kembali</button>
                </a>
            </div>  
        </div>
    </div>
</section>
<script src="{% static 'app3/javascript/app3.js' %}" type="text/javascript"></script>
{% endblock content %}