{% extends 'base.html' %}
{% load static %}
{%block style%}
<link rel="stylesheet" href="{% static 'app3/css/app3.css' %}">
<title>Error</title>
{%endblock style%}

{% block content %}
<section id="header">
    <div class="headerFaskes">
    </div>
</section>
<section id="error" class="p-4">
    <div class="listFaskes">
        <div class="d-flex justify-content-center align-items-center">
            <div class="card col-error">
                <p>Operasi hanya dapat dilakukan oleh: </p>
                {%if peran_diizinkan %}
                    {%for p in peran_diizinkan%}
                        <p> {{p}} </p>
                    {%endfor%}
                {%endif%}
            </div>
        </div>
    </div>
</section>
{% endblock content %}
