{% extends 'base.html' %}
{% load static %}

{%block style%}
<link rel="stylesheet" href="{% static 'app3/css/app3.css' %}">
<title> List Reservasi RS </title>
{%endblock style%}

{%block content%}
<section id="headerFaskes">
    <div class="headerFaskes">
    </div>
</section>
<section id="listJadwalFaskes" class="p-4">
    <div class="listJadwalFaskes">
      <div class="judulList">
        <h3>List Faskes</h3>
        <br>
      </div>
        <div class="d-flex justify-content-center align-items-center">
            <table class="table align-middle shadow p-3 mb-5 bg-white rounded">
                <thead>
                  <tr>
                    <th scope="col">No.</th>
                    <th scope="col">Kode</th>
                    <th scope="col">Tipe</th>
                    <th scope="col">Nama</th>
                    <th>Update</th>
                    <th>Delete</th>
                    <th>Detail</th>
                  </tr>
                </thead>
                <tbody class="serial">
                    {% for tuple in setOfFaskes %}
                    <tr>
                        <td></td>
                        {% for attr in tuple %}
                            <td>{{attr}}</td>
                        {%endfor%}
                        <td>
                          <a href="{% url 'app3:updateFaskes' tuple.0 %}">
                            <button type="button" id="update" class="btn btn-secondary">Update</button>
                          </a>
                        </td>
                        <td>
                          <form action="{% url 'app3:deleteFaskes' tuple.0 %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" id="delete" class="btn btn-secondary">Delete</button>
                          </form>
                        </td>
                        <td>
                          <a href="{% url 'app3:detailFaskes' tuple.0 %}">
                            <button type="button" id="detail" class="btn btn-secondary">Detail</button>
                          </a>
                        </td>
                    </tr>
                  {%endfor%}
                </tbody>
              </table>
        </div>
        {% if error %}
            {{ error }}
        {% endif %}
        <a href="{% url 'app3:buatFaskes' %}"> 
            <button type="button" id="buat-jadwalFaskes" class="btn btn-secondary">Buat Faskes</button>
        </a>
    </div>
</section>
<script src="{% static 'app3/javascript/app3.js' %}" type="text/javascript"></script>
{% endblock content %}