{% extends 'base.html' %}
{% load static %}

{%block style%}
<link rel="stylesheet" href="{% static 'app3/css/app3.css' %}">
<title> List Reservasi RS </title>
{%endblock style%}

{%block content%}
<section id="headerFaskes">
    <div class="headerFaskes">
    </div>
</section>
<section id="listJadwalFaskes" class="p-4">
    <div class="listJadwalFaskes">
        <div class="judulList">
            <h3>List Jadwal Faskes</h3>
            <br>
        </div>
        <div class="d-flex justify-content-center align-items-center">
            
            <table class="table align-middle shadow p-3 mb-5 bg-white rounded">
                <thead>
                  <tr>
                    <th scope="col">No.</th>
                    <th scope="col">Faskes</th>
                    <th scope="col">Shift</th>
                    <th scope="col">Tanggal</th>
                  </tr>
                </thead>
                <tbody class="serial">
                    {% for tuple in setOfJadwalFaskes %}
                    <tr>
                        <td></td>
                        {% for attr in tuple %}
                            <td>{{attr}}</td>
                        {%endfor%}
                    </tr>
                  {%endfor%}
                </tbody>
              </table>
        </div>
        {% if error %}
          {{error}}
        {%endif%}
        <a href="{% url 'app3:buatJadwalFaskes' %}"> 
            <button type="button" id="buat-jadwalFaskes" class="btn btn-secondary">Buat Jadwal Faskes</button>
        </a>
    </div>
</section>
<script src="{% static 'app3/javascript/app3.js' %}" type="text/javascript"></script>
{% endblock content %}