{% extends 'base.html' %}
{% load static %}

{%block style%}
<link rel="stylesheet" href="{% static 'app3/css/app3.css' %}">
<title> List Rumah Sakit </title>
{%endblock style%}

{%block content%}
<section id="headerReservasiRS">
    <div class="headerReservasiRS">
    </div>
</section>
<section id="listReservasiRS" class="p-4">
    <div class="listReservasiRS">
        <div class="judulList">
            <h3>List Rumah Sakit</h3>
            <br>
        </div>
        <div class="d-flex justify-content-center align-items-center">
            <table class="table align-middle shadow p-3 mb-5 bg-white rounded">
                <thead>
                  <tr>
                    <th scope="col">Kode</th>
                    <th scope="col">Rujukan?</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                    {% for tuple in setOfRS %}
                    <tr>
                        <td>{{tuple.0}}</td>
                        <td>
                            {%if tuple.1 == '1'%}
                            <input id="checkbox" type="checkbox" disabled="disabled" checked="checked">
                            {%else%}
                            <input id="checkbox" type="checkbox" disabled="disabled">
                            {%endif%}
                        </td>
                        <td>
                            <a href="{% url 'app3:updateRS' tuple.0 %}">
                                <button type="button" id="update" class="btn btn-secondary">Update</button>
                            </a>
                        </td>
                    </tr>
                    {%endfor%}    
                </tbody>
              </table>
        </div>
        <a href="{% url 'app3:buatRS' %}"> 
            <button type="button" id="buat-reservasiRS" class="btn btn-secondary">Buat Rumah Sakit</button>
        </a>
    </div>
    {% if error %}
        {{error}}
    {%endif%}
</section>
<script src="{% static 'app3/javascript/app3.js' %}" type="text/javascript"></script>
{% endblock content %}