{% extends 'base.html' %}
{% load static %}

{%block style%}
<link rel="stylesheet" href="{% static 'app3/css/app3.css' %}">
<title> List Reservasi RS </title>
{%endblock style%}

{%block content%}
<section id="headerReservasiRS">
    <div class="headerReservasiRS">
    </div>
</section>
<section id="listReservasiRS" class="p-4">
    <div class="listReservasiRS">
        <div class="judulList">
            <h3>List Reservasi RS</h3>
            <br>
        </div>
        <div class="d-flex justify-content-center align-items-center">
            <table class="table align-middle shadow p-3 mb-5 bg-white rounded">
                <thead>
                  <tr>
                    <th scope="col">No.</th>
                    <th scope="col">NIK Pasien</th>
                    <th scope="col">Tanggal Masuk</th>
                    <th scope="col">Tanggal Keluar</th>
                    <th scope="col">Rumah Sakit</th>
                    <th scope="col">Ruangan</th>
                    <th scope="col">Bed</th>
                    {% if peran == 'admin_satgas' %}
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    {%endif%}
                  </tr>
                </thead>
                <tbody class="serial">
                    {% if peran == 'admin_satgas' %}
                        {% if ReservasiRSCantBeDeleted %}
                            {% for tuple in ReservasiRSCantBeDeleted %}
                            <tr>
                                <td></td>
                                <!-- Nanti yang ventilator dibuang -->
                                {% for attr in tuple %}
                                    <td>{{attr}}</td>
                                {%endfor%}
                                <td>
                                    <a href="{% url 'app3:updateReservasiRS' tuple.0 tuple.1%}">
                                        <button type="button" id="update" class="btn btn-secondary">Update</button>
                                    </a>
                                </td>
                            </tr>
                            {%endfor%}
                        {%endif%}
                        {% if setOfReservasiRS %}
                            {% for tuple in setOfReservasiRS %}
                            <tr>
                                <td></td>
                                <!-- Nanti yang ventilator dibuang -->
                                {% for attr in tuple %}
                                    <td>{{attr}}</td>
                                {%endfor%}
                                <td>
                                    <a href="{% url 'app3:updateReservasiRS' tuple.0 tuple.1%}">
                                        <button type="button" id="update" class="btn btn-secondary">Update</button>
                                    </a>
                                </td>
                                <td>
                                    <form action="{% url 'app3:deleteReservasiRS' tuple.0 tuple.1%}" method="POST">
                                    {% csrf_token %}
                                    <button type="submit" id="delete" class="btn btn-secondary">Delete</button>
                                    </form>
                                </td>
                            </tr>
                            {%endfor%}  
                        {%endif%}
                    {%else%}
                        {% for tuple in setOfReservasiRS %}
                        <tr>
                            <td></td>
                            {% for attr in tuple %}
                                <td>{{attr}}</td>
                            {%endfor%}
                        </tr>
                        {%endfor%}  
                    {%endif%}
                </tbody>
              </table>
        </div>
        {% if peran == 'admin_satgas' %}
        <a href="{% url 'app3:reservasiRS' %}"> 
            <button type="button" id="buat-reservasiRS" class="btn btn-secondary">Buat Reservasi RS</button>
        </a>
        {%endif%}
    </div>
    {% if error %}
        {{error}}
    {%endif%}
</section>
<script src="{% static 'app3/javascript/app3.js' %}" type="text/javascript"></script>
{% endblock content %}