{% extends 'base.html' %}
{% load static %}

{%block style%}
<link rel="stylesheet" href="{% static 'app3/css/app3.css' %}">
<title> List Rumah Sakit </title>
{%endblock style%}

{%block content%}
<section id="headerReservasiRS">
    <div class="headerReservasiRS">
    </div>
</section>
<section id="listReservasiRS" class="p-4">
    <div class="listReservasiRS">
        <div class="judulList">
            <h3>List Transaksi RS</h3>
            <br>
        </div>
        <div class="d-flex justify-content-center align-items-center">
            <table class="table align-middle shadow p-3 mb-5 bg-white rounded">
                <thead>
                  <tr>
                    <th scope="col">Id Transaksi</th>
                    <th scope="col">Kode Pasien</th>
                    <th scope="col">Tanggal Pembayaran</th>
                    <th scope="col">Waktu Pembayaran</th>
                    <th scope="col">Tanggal Masuk</th>
                    <th scope="col">Total Biaya</th>
                    <th scope="col">Status Bayar</th>
                    <th scope="col">Update</th>
                    <th scope="col">Delete</th>
                  </tr>
                </thead>
                <tbody>
                    {% for tuple in setOfTransaksiRS %}
                    <tr>
                        <!-- Nanti yang ventilator dibuang -->
                        {% for attr in tuple %}
                            <td>{{attr}}</td>
                        {%endfor%}
                        <td>
                            <a href="{% url 'app3:updateTransaksiRS' tuple.0 %}">
                                <button type="button" id="update" class="btn btn-secondary">Update</button>
                            </a>
                        </td>
                        <td>
                            <form action="{% url 'app3:deleteTransaksiRS' tuple.0 %}" method="POST">
                                {% csrf_token %}
                                <button type="submit" id="delete" class="btn btn-secondary">Delete</button>
                            </form>
                        </td>
                    </tr>
                    {%endfor%}      
                </tbody>
              </table>
        </div>
        {% if error %}
          {{error}}
        {%endif%}
    </div>
</section>
<script src="{% static 'app3/javascript/app3.js' %}" type="text/javascript"></script>
{% endblock content %}