{% extends 'base.html' %}
{% load static %}

{%block style%}
<!-- CSS -->
<link rel="stylesheet" href="{% static 'app3/css/app3.css' %}">

<!-- JavaScripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<title> Reservasi RS </title>
{%endblock style%}

{%block content%}
<section id="header">
    <div class="headerReservasiRS">
    </div>
</section>
<section id="reservasiRS" class="p-4">
    <div class="reservasiRS">
        <div class="d-flex justify-content-center">
            <div class="card card-reservasiRS">
                <div class="card-header">
                    <h3>Form Reservasi Rumah Sakit</h3>
                </div>
                <div class="card-body">
                    <form action="/reservasiRS/" method="POST">
                        <div class="form-group">
                            {% csrf_token %}

                            {%if listOfnik %}
                            <p>
                            <select class="form-control RS"  id = "nik" name="nik">
                                <option value=""> NIK </option>
                                {% for nik in listOfnik %}
                                <option value="{{nik.0}}"> {{nik.0}} </option>
                                {%endfor%}
                            </select>
                            </p>
                            {%endif%}

                            {%if listOfKodeRS %}
                            <p>
                            <select class="form-control RS"  id = "select-kodeRS" name="kode_RS">
                                <option value=""> Kode RS </option>
                                {% for kode in listOfKodeRS %}
                                <option value="{{kode.0}}"> {{kode.0}} </option>
                                {%endfor%}
                            </select>
                            </p>
                            {%endif%}
                    
                            {%for field in form%}
                                <p> {{field}} </p>
                            {%endfor%}
                        </div>
                        <div class="col">
                            {% if error %}
                            <p>{{error}}</p>
                            {%endif%}
                        </div>
                        <button id="submit-ReservasiRS" class="btn btn-primary intabel">Simpan</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="{% static 'app3/javascript/app3.js' %}" type="text/javascript"></script>
{% endblock content %}