{% extends 'base.html' %}
{% load static %}

{%block style%}
<!-- CSS -->
<link rel="stylesheet" href="{% static 'app3/css/app3.css' %}">

<!-- JavaScripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<title> Update Fasilitas Kesehatan </title>
{%endblock style%}

{%block content%}
<section id="header">
    <div class="headerFaskes">
    </div>
</section>
<section id="reservasiRS" class="p-4">
    <div class="reservasiRS">
        <div class="d-flex justify-content-center">
            <div class="card card-reservasiRS">
                <div class="card-header">
                    <h3>Form Update Fasilitas Kesehatan</h3>
                </div>
                <div class="card-body">
                    <form action="/submitFaskes/" method="POST">
                        <div class="form-group">
                            {% csrf_token %}
                            {% if kodeFaskes %}
                                <p>
                                    <input type="text" name="kodeFaskes" class="form-control Faskes" value="{{kodeFaskes}}" placeholder="Kode Faskes" disabled>
                                    <input type="hidden" value="{{kodeFaskes}}" name="kodeFaskes-hidden">
                                </p>
                            {%endif%}
                            {%for f in form%}
                                <p> {{f}} </p>
                            {%endfor%}
                        </div>
                        {% if error %}
                            {{error}}
                        {%endif%}
                        <button id="submit" class="btn btn-primary intabel">Simpan</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="{% static 'app3/javascript/app3.js' %}" type="text/javascript"></script>
{% endblock content %}