{% extends 'base.html' %}
{% load static %}

{%block style%}
<!-- CSS -->
<link rel="stylesheet" href="{% static 'app3/css/app3.css' %}">

<!-- JavaScripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<title> Reservasi RS </title>
{%endblock style%}

{%block content%}
<section id="header">
    <div class="headerReservasiRS">
    </div>
</section>
<section id="reservasiRS" class="p-4">
    <div class="reservasiRS">
        <div class="d-flex justify-content-center">
            <div class="card card-reservasiRS">
                <div class="card-header">
                    <h3>Form Reservasi Rumah Sakit</h3>
                </div>
                <div class="card-body">
                    <form action="/submitUpdateReservasiRS/" method="POST">
                        <div class="form-group">
                            {% csrf_token %}
                            <p>
                            <input class="form-control RS" type="text" value="{{kodepasien}}" disabled>
                            </p>
                            <p>
                            <input class="form-control RS" type="text" value="{{koders}}" disabled>
                            </p>
                            {%for field in form%}
                                <p> {{field}} </p>
                            {%endfor%}
                            {%for tuple in dataReservasiRS%}
                                <input name="tglmasuk" type="hidden" value="{{tuple.1}}">
                                <input name="kodepasien" type="hidden" value="{{kodepasien}}">
                                <input id="tglkeluar-hidden" name="tglkeluar" type="hidden" value="{{tuple.2}}">
                            {%endfor%}
                        </div>
                        <p id="error-updateReservasi"></p>
                        <button id="submit-updateReservasiRS" class="btn btn-primary intabel">Simpan</button>
                        {{error}}
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="{% static 'app3/javascript/app3.js' %}" type="text/javascript"></script>
{% endblock content %}