{% extends 'base.html' %}
{% load static %}

{%block style%}
<!-- CSS -->
<link rel="stylesheet" href="{% static 'app3/css/app3.css' %}">

<!-- JavaScripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<title> Buat Rumah Sakit </title>
{%endblock style%}

{%block content%}
<section id="header">
    <div class="headerReservasiRS">
    </div>
</section>
<section id="reservasiRS" class="p-4">
    <div class="reservasiRS">
        <div class="d-flex justify-content-center">
            <div class="card card-reservasiRS">
                <div class="card-header">
                    <h3>Form Buat Rumah Sakit</h3>
                </div>
                <div class="card-body">
                    <form action="/submitUpdateRS/" method="POST">
                        <div class="form-group">
                            {% csrf_token %}
                            <!-- {%for f in form%}
                                <p> {{f.label}} </p>
                                <p> {{f}} </p>
                            {%endfor%} -->
                            <input class="form-control RS" type="text" value="{{kodefaskes}}" disabled>
                            <label>{{form.rujukan.label}}</label>
                            <p id="p-rujukan">{{form.rujukan}}</p>
                            {%for tuple in dataRS%}
                                <input name="kode_faskes" type="hidden" value="{{kodefaskes}}">
                                <input id="isrujukan-hidden" name="isrujukan" type="hidden" value="{{tuple.1}}">
                            {%endfor%}
                        </div>
                        {% if error %}
                            {{error}}
                        {%endif%}
                        <button id="submit" class="btn btn-primary intabel">Simpan</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="{% static 'app3/javascript/app3.js' %}" type="text/javascript"></script>
{% endblock content %}