body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}

.card{
    border-color: white !important;
    justify-content: center !important;
    align-items: center !important;
}

/* LIST RESERVASI RS */
#listReservasiRS, #listJadwalFaskes{
    margin: 10%;
    height: 620px;
    text-align: center;
}

thead{
    background-color: #85B7BE;
    color: white;
}

#update, #delete, #detail{
    font-size: 12px;
    width: 70px;
    height: 30px;
    align-items: center;
    justify-content: center;
    border-color: transparent;
}

#update{
    background-color: #709A9F;
}

#delete{
    background-color: #B20119;
}

#detail{
    background-color: #3D3D3D;
}

#buat-reservasiRS, #submit, #buat-jadwalFaskes, #submit-buatFaskes, #button-kembali, #submit-updateReservasiRS, #submit-ReservasiRS{
    background-color: #3B8690;
    border-radius: 0px;
    border-color: #3B8690;
}

/* DAFTAR */
.reservasiRS, .buatJadwalFaskes, .buatFaskes{
    margin: 10%;
}

.form-control.RS, .form-control.Faskes{
    width: 700px;
}

.card-header{
    background-color: transparent;
}

.headerReservasiRS{
    padding: 5%;
    background-image: url("../img/RumahSakit.63927dadc47e.png");
}

.headerFaskes{
    padding: 5%;
    background-image: url("../img/FasilitasKesehatan.5eb7312d1d42.png");
}

.error {
    color: red;
    padding: 2%;
    justify-content: center;
}

/* Detail Faskes */
#card-detail-faskes, .card-group{
    border-color: white !important;
    align-items:flex-start !important;
    text-align: left !important;
    margin-right:60% !important;
    border-radius: 0px;
}

#button-kembali{
    margin-left: 20%;
    margin-bottom: 20%;
}

.col-error{
    align-items: center !important;
    justify-content: center !important;
    text-align: center !important; 
}