{% extends 'base.html' %}
{% load static %}

{%block style%}
<link rel="stylesheet" href="{% static 'app1/css/app1.css' %}">
<title> Dashboard </title>
{%endblock style%}

{% block content %}
<section id="profil">
        <div class="wrapper">
            <!-- Sidebar  -->
            <nav id="sidebar">
                <div class="sidebar-header">
                    <h3></h3>
                </div>
                <ul class="list-unstyled components">
                    <p>Categories of Service</p>
                    <li class="active">
                        <a href="#">Profil</a>
                    </li>

                    {% if peran == 'admin' %}
                    <li>
                        <a href="#pageHotel" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Hotel</a>
                        <ul class="collapse list-unstyled" id="pageHotel">
                            <li>
                                <a href="{% url 'app5:createHotel' %}">Buat Hotel</a>
                            </li>
                            <li>
                                <a href="{% url 'app5:listHotel' %}">List Hotel</a>
                            </li>
                            <li>
                                <a href="{% url 'app4:createRuanganHotel' %}">Buat Ruangan Hotel</a>
                            </li>
                            <li>
                                <a href="{% url 'app4:listRuanganHotel' %}">List Ruangan Hotel</a>
                            </li>
                            <li>
                                <a href="{% url 'app5:createPaketMakan' %}">Buat Paket Makan</a>
                            </li>
                            <li>
                                <a href="{% url 'app5:listPaketMakan' %}">List Paket Makan</a>
                            </li>
                        </ul>
                    </li>
                    {%endif%}
                    {% if peran == 'pengguna_publik' %}
                    <li>
                        <a href="#pagePasien" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pasien</a>
                        <ul class="collapse list-unstyled" id="pagePasien">
                            <li>
                                <a href="{% url 'app1:daftarPasien' %}">Pendaftaran Pasien</a>
                            </li>
                            <li>
                                <a href="{% url 'app1:listPasien' %}">List Pasien</a>
                            </li>
                            <li>
                                <a href="{% url 'app2:buatAppointmentDenganDokter' %}">Buat Appointment</a>
                            </li>
                            <li>
                                <a href="{% url 'app2:listAppointmentDenganDokter' %}">List Appointment</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#pageRS" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Rumah Sakit</a>
                        <ul class="collapse list-unstyled" id="pageRS">
                            <li>
                                <a href="{% url 'app2:listJadwalDokter' %}">List Jadwal Dokter</a>
                            </li>
                            <li>
                                <a href="{% url 'app3:listReservasiRS' %}">List Reservasi RS</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#pageHotel" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Hotel</a>
                        <ul class="collapse list-unstyled" id="pageHotel">
                            <li>
                                <a href="{% url 'app5:listHotel' %}">List Hotel</a>
                            </li>
                            <li>
                                <a href="{% url 'app4:listRuanganHotel' %}">List Ruangan Hotel</a>
                            </li>
                            <li>
                                <a href="{% url 'app5:listPaketMakan' %}">List Paket Makan</a>
                            </li>
                            <li>
                                <a href="{% url 'app4:createReservasiHotel' %}">Buat Reservasi Hotel</a>
                            </li>
                            <li>
                                <a href="{% url 'app4:listReservasiHotel' %}">List Reservasi Hotel</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#pageTransaksi" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Transaksi</a>
                        <ul class="collapse list-unstyled" id="pageTransaksi">
                            <li>
                                <a href="{% url 'app4:listTransaksiBooking' %}">List Transaksi Booking Hotel</a>
                            </li>
                            <li>
                                <a href="{% url 'app5:createTransaksiMakan' %}">Buat Transaksi Makan dan Daftar Pesan</a>
                            </li>
                            <li>
                                <a href="{% url 'app5:listTransaksiMakan' %}">List Transaksi Makan dan Daftar Pesan</a>
                            </li>
                        </ul>
                    </li>
                    {%endif%}
                    {% if peran == 'dokter' %}
                    <li>
                        <a href="#pagePasien" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pasien</a>
                        <ul class="collapse list-unstyled" id="pagePasien">
                            <li>
                                <a href="{% url 'app2:listAppointmentDenganDokter' %}">List Appointment</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#pageRS" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Rumah Sakit</a>
                        <ul class="collapse list-unstyled" id="pageRS">
                            <li>
                                <a href="{% url 'app2:buatJadwalDokter' %}">Buat Jadwal Dokter</a>
                            </li>
                            <li>
                                <a href="{% url 'app2:listJadwalDokter' %}">List Jadwal Dokter</a>
                            </li>
                        </ul>
                    </li>
                    {%endif%}
                    {% if peran == 'admin_satgas' %}
                    <li>
                        <a href="#pagePasien" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pasien</a>
                        <ul class="collapse list-unstyled" id="pagePasien">
                            <li>
                                <a href="{% url 'app2:buatAppointmentDenganDokter' %}">Buat Appointment</a>
                            </li>
                            <li>
                                <a href="{% url 'app2:listAppointmentDenganDokter' %}">List Appointment</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#pageFaskes" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Faskes</a>
                        <ul class="collapse list-unstyled" id="pageFaskes">
                            <li>
                                <a href="{% url 'app3:buatFaskes' %}">Buat Faskes</a>
                            </li>
                            <li>
                                <a href="{% url 'app3:listFaskes' %}">List Faskes</a>
                            </li>
                            <li>
                                <a href="{% url 'app3:buatJadwalFaskes' %}">Buat Jadwal Faskes</a>
                            </li>
                            <li>
                                <a href="{% url 'app3:listJadwalFaskes' %}">List Jadwal Faskes</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#pageRS" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Rumah Sakit</a>
                        <ul class="collapse list-unstyled" id="pageRS">
                            <li>
                                <a href="{% url 'app3:buatRS' %}">Buat RS</a>
                            </li>
                            <li>
                                <a href="{% url 'app3:listRumahSakit' %}">List RS</a>
                            </li>
                            <li>
                                <a href="{% url 'app2:listJadwalDokter' %}">List Jadwal Dokter</a>
                            </li>
                            <li>
                                <a href="{% url 'app2:buatRuanganRS' %}">Buat Ruangan RS</a>
                            </li>
                            <li>
                                <a href="{% url 'app2:listRuanganRS' %}">List Ruangan RS</a>
                            </li>
                            <li>
                                <a href="{% url 'app2:buatBedRS' %}">Buat Bed RS</a>
                            </li>
                            <li>
                                <a href="{% url 'app2:listBedRS' %}">List Bed RS</a>
                            </li>
                            <li>
                                <a href="{% url 'app3:reservasiRS' %}">Buat Reservasi RS</a>
                            </li>
                            <li>
                                <a href="{% url 'app3:listReservasiRS' %}">List Reservasi RS</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#pageHotel" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Hotel</a>
                        <ul class="collapse list-unstyled" id="pageHotel">
                            <li>
                                <a href="{% url 'app5:listHotel' %}">List Hotel</a>
                            </li>
                            <li>
                                <a href="{% url 'app4:listRuanganHotel' %}">List Ruangan Hotel</a>
                            </li>
                            <li>
                                <a href="{% url 'app5:listPaketMakan' %}">List Paket Makan</a>
                            </li>
                            <li>
                                <a href="{% url 'app4:createReservasiHotel' %}">Buat Reservasi Hotel</a>
                            </li>
                            <li>
                                <a href="{% url 'app4:listReservasiHotel' %}">List Reservasi Hotel</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#pageTransaksi" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Transaksi</a>
                        <ul class="collapse list-unstyled" id="pageTransaksi">
                            <li>
                                <a href="{% url 'app3:listTransaksiRS' %}">List Transaksi RS</a>
                            </li>
                            <li>
                                <a href="{% url 'app4:listTransaksiHotel' %}">List Transaksi Hotel</a>
                            </li>
                            <li>
                                <a href="{% url 'app4:listTransaksiBooking' %}">List Transaksi Booking Hotel</a>
                            </li>
                            <li>
                                <a href="{% url 'app5:createTransaksiMakan' %}">Buat Transaksi Makan dan Daftar Pesan</a>
                            </li>
                            <li>
                                <a href="{% url 'app5:listTransaksiMakan' %}">List Transaksi Makan dan Daftar Pesan</a>
                            </li>
                        </ul>
                    </li>
                    {%endif%}
                </ul>
            </nav>
            <!-- Page Content  -->
        <div id="content">
            <div class="container-fluid">
                <button type="button" id="sidebarCollapse" class="btn btn-info"></button>
                
                <!-- PROFILE CARD -->
                <div class="d-flex justify-content-center align-items-center">
                    <div class="col-lg-4">
                        <div class="text-center card-box">
                            <div class="member-card pt-2 pb-2">
                                {%if peran == 'admin'%}
                                <div class="thumb-lg member-thumb mx-auto"><img src="{% static 'app1/img/AdminAva.png' %}" class="rounded-circle img-thumbnail" alt="profile-image"></div>
                                {%endif%}
                                {%if peran == 'dokter'%}
                                <div class="thumb-lg member-thumb mx-auto"><img src="{% static 'app1/img/DokterAva.png' %}" class="rounded-circle img-thumbnail" alt="profile-image"></div>
                                {%endif%}
                                {%if peran == 'pengguna_publik'%}
                                <div class="thumb-lg member-thumb mx-auto"><img src="{% static 'app1/img/PenggunaAva.png' %}" class="rounded-circle img-thumbnail" alt="profile-image"></div>
                                {%endif%}
                                {%if peran == 'admin_satgas'%}
                                <div class="thumb-lg member-thumb mx-auto"><img src="{% static 'app1/img/AdminSatgasAva.png' %}" class="rounded-circle img-thumbnail" alt="profile-image"></div>
                                {%endif%}
                                <div class="">
                                    <h4>{{username}}</h4>
                                </div>
                                <!-- HIASAN -->
                                <ul class="social-links list-inline">
                                    <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                    <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                    <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Skype"><i class="fa fa-skype"></i></a></li>
                                </ul>
                                <button type="button" id="button-profile" class="btn btn-secondary">{{peran}}</button>
                                {% if peran == 'admin' %}
                                <a href="{% url 'app1:editAdminSistem' %}"><button type="button" id="button-profile" class="btn btn-secondary">Ubah Profil</button></a>
                                {% elif peran == 'pengguna_publik' %}
                                <a href="{% url 'app1:editPenggunaPublik' %}"><button type="button" id="button-profile" class="btn btn-secondary">Ubah Profil</button></a>
                                {% elif peran == 'dokter' %}
                                <a href="{% url 'app1:editDokter' %}"><button type="button" id="button-profile" class="btn btn-secondary">Ubah Profil</button></a>
                                {% elif peran == 'admin_satgas' %}
                                <a href="{% url 'app1:editAdminSatgas' %}"><button type="button" id="button-profile" class="btn btn-secondary">Ubah Profil</button></a>
                                {% endif %}
                            </div>
                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <div><img src="{% static 'app1/img/JempolSenyum.png' %}" id="jempol-image" class="rounded-circle img-thumbnail" alt="profile-image"></div>
                                            <p class="font-weight-bold">SEHAT SELALU!</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- PROFILE CARD -->
        </div>
</section>
<script src="{% static 'app1/javascript/app1.js' %}" type="text/javascript"></script>
{% endblock content %}
