{% extends 'base.html' %}
{% load static %}

{%block style%}
<link rel="stylesheet" href="{% static 'app1/css/app1.css' %}">
<title> List Fasilitas Kesehatan </title>
{%endblock style%}

{%block content%}
<section id="header">
    <div class="headerPasien">
    </div>
</section>
<section id="listPasien" class="p-4">
    <div class="listPasien">
        <div class="d-flex justify-content-center align-items-center">
            <table class="table align-middle shadow p-3 mb-5 bg-white rounded">
                <tbody>
                <tr>
                    <td>Pendaftar:</td>
                    <td> {{pendaftar}} </td>
                </tr>
                <tr>
                    <td>NIK:</td>
                    <td> {{nik}} </td>
                </tr>
                <tr>
                    <td>Nama</td>
                    <td> {{nama}} </td>
                </tr>
                <tr>
                    <td>Nomor Telepon</td>
                    <td> {{notelp}} </td>
                </tr>
                <tr>
                    <td>Nomor Hp</td>
                    <td> {{nohp}} </td>
                </tr> 
                <tr><td></td><td></td></tr>
                <tr>
                    <td>Alamat (Sesuai KTP):</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Jalan</td>
                    <td> {{kjalan}} </td>
                </tr>
                <tr>
                    <td>Kelurahan</td>
                    <td> {{kkelurahan}} </td>
                </tr>
                <tr>
                    <td>Kecamatan</td>
                    <td> {{kkecamatan}} </td>
                </tr>
                <tr>
                    <td>Kabupaten/Kota</td>
                    <td> {{kkabkot}} </td>
                </tr>
                <tr>
                    <td>Provinsi</td>
                    <td> {{kprov}} </td>
                </tr>
                <tr><td></td><td></td></tr>
                <tr>
                    <td>Alamat (Domisili)</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Jalan</td>
                    <td> {{djalan}} </td>
                </tr>
                <tr>
                    <td>Kelurahan</td>
                    <td> {{dkelurahan}} </td>
                </tr>
                <tr>
                    <td>Kecamatan</td>
                    <td> {{dkecamatan}} </td>
                </tr>
                <tr>
                    <td>Kabupaten/Kota</td>
                    <td> {{dkabkot}} </td>
                </tr>
                <tr>
                    <td>Provinsi</td>
                    <td> {{dprov}} </td>
                </tr>                   
                </tbody>
              </table>
        </div>
        <a href="{% url 'app1:listPasien' %}"> 
            <button type="button" id="daftar-pasien" class="btn btn-secondary">Kembali</button>
        </a>
    </div>
</section>
{% endblock content %}