{% extends 'base.html' %}
{% load static %}

{%block style%}
<link rel="stylesheet" href="{% static 'app1/css/app1.css' %}">
<title> Homepage </title>
{%endblock style%}

{% block content %}
<!-- Jumbotron -->
<section>
    <div class="p-5 bg-image rounded-3">
        <div class="d-flex justify-content-left align-items-center h-100">
            <div class="text-white">
            <h1 id="siruco-title" class="font-weight-bold">SIRUCO</h1>
            <h4 class="font-weight-light">Your Health is Our Priority</h4>
            <hr/>
            <a href="#aboutus">
                <button id="button-learn-more" type="button" class="mt-5 btn btn-light">Learn More</button>
            </a>
            </div>
        </div>
    </div>
</section>
<!-- Jumbotron -->

<section id="aboutus" class="p-4 mb-4 mt-4">
    <div id=card-about-us" class="card-group">
        <div class="card 10 p-3">
            <img id="admin" class="card-img-top" src="{% static 'app1/img/admin.png' %}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Responsive</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
        </div>
        <div class="card 10 p-3">
            <img id="hospital" class="card-img-top" src="{% static 'app1/img/hospital.png' %}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Best Service</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
        </div>
        <div class="card 10 p-3">
            <img id="stethoscope" class="card-img-top" src="{% static 'app1/img/stethoscope.png' %}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Qualified Doctor</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
        </div>
    </div>
</section>

<!--Pilihan-->
<section id="pilihan-navigasi" class="p-4">
    <div class="row justify-content-center align-items-center mt-5">
        <h1 id="judul-servis" class="font-weight-normal ">Dedicated to provide categories of service</h1>
        <p>This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4 mb-5">
        <div class="col mt-5">
            <a href="{% url 'app1:listPasien' %}">
                <img src="{% static 'app1/img/Pasien.png' %}" class="card-img" alt="..."/>
                <div class="centered">Pasien</div>
            </a>
        </div>
        <div class="col mt-5">
            <a href="{% url 'app3:listFaskes' %}">
                <img src="{% static 'app1/img/FasilitasKesehatan.png' %}" class="card-img" alt="..."/>
                <div class="centered">Fasilitas Kesehatan</div>
            </a>
        </div>
        <div class="col mt-5">
            <a href="">
                <img src="{% static 'app1/img/RumahSakit.png' %}" class="card-img" alt="..."/>
                <div class="centered">Rumah Sakit</div>
            </a>
        </div>
        <div class="col mt-5">
            <a href="">
                <img src="{% static 'app1/img/Hotel.png' %}" class="card-img" alt="..."/>
                <div class="centered">Hotel</div>
            </a>
        </div>
        <div class="col mt-5">
            <a href="">
                <img src="{% static 'app1/img/Transaksi.png' %}" class="card-img" alt="..."/>
                <div class="centered">Transaksi</div>
            </a>
        </div>

    </div>
</section>

{% endblock content %}
