{% extends 'base.html' %}
{% load static %}

{%block style%}
<link rel="stylesheet" href="{% static 'app1/css/app1.css' %}">
<title> List Fasilitas Kesehatan </title>
{%endblock style%}

{%block content%}
<section id="header">
    <div class="headerPasien">
    </div>
</section>
<section id="listPasien" class="p-4">
    <div class="listPasien">
        <div class="d-flex justify-content-center align-items-center">
            <table class="table align-middle shadow p-3 mb-5 bg-white rounded">
                <thead>
                  <tr>
                    <th scope="col">No.</th>
                    <th scope="col">NIK</th>
                    <th scope="col">Nama Pasien</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                    {%for a,b in pasien%}
                  <tr>
                    <td> {{a}} </td>
                    <td> {{b}} </td>
                    <td>
                      <a href="{% url 'app1:updatePasien' idPasien=a namaPasien=b %}">
                      <button type="button" id="update" class="btn btn-secondary">Update</button>
                    </td>
                    <td>
                      <a href="{% url 'app1:deletePasien' idPasien=a %}">
                        <button type="button" id="delete" class="btn btn-secondary">Delete</button>
                    </td>
                    <td>
                        <a href="{% url 'app1:detailPasien' idPasien=a %}">
                        <button type="button" id="detail" class="btn btn-secondary" method="GET">Detail</button>
                    </td>
                  </tr>
                  {%endfor%}
                  <script>
                    var tables = document.getElementsByTagName('tbody')
                    var table = tables[tables.length - 1];
                    var rows = table.rows;
                    for(var i = 0, td; i < rows.length; i++){
                        td = document.createElement('td');
                        td.appendChild(document.createTextNode(i + 1));
                        rows[i].insertBefore(td, rows[i].firstChild);
                    }
                </script>
                </tbody>
              </table>
        </div>
        <a href="{% url 'app1:daftarPasien' %}"> 
            <button type="button" id="daftar-pasien" class="btn btn-secondary">Daftarkan Pasien!</button>
        </a>
    </div>
</section>
{% endblock content %}