{% extends 'base.html' %}
{% load static %}

{%block style%}
<link rel="stylesheet" href="{% static 'app1/css/app1.css' %}">
<title> Login Page </title>
{%endblock style%}

{%block content%}
<section id="login" class="p-4">
    <div class="login">
        <div class="d-flex justify-content-center">
            <div class="card card-login">
                <div class="card-header">
                    <h3>Sign In</h3>
                </div>
                {% if error %}
                <div class="error">{{ error }}</div>
                {% endif %}
                <div class="card-body">
                    <form method="POST">
                        <div class="inputform">
                            {% csrf_token %}
                            {%for field in form%}
                                <p> {{field}} </p>
                            {%endfor%}
                        </div>
                        <button id="login-submit" class="btn btn-primary intabel" method="POST">Log In</button>
                    </form>
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-center links">
                        Don't have an account?
                        <a id="register-text" href="{% url 'app1:registerAdminSistem'%}">Register</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
