{% extends 'base.html' %}
{% load static %}

{%block style%}
<link rel="stylesheet" href="{% static 'app1/css/app1.css' %}">
<title> Register Page </title>
{%endblock style%}

{%block content%}
<section id="register" class="p-4">
    <div class="register">
      <div class="d-flex justify-content-center">
        <div class="card h-100 card-register">

            <div class="btn-group" role="group" aria-label="Basic example">
              <a href="{% url 'app1:registerAdminSistem'%}">
                <button type="button" class="pilih-role btn btn-secondary">Admin Sistem</button>
              </a>
              <a href="{% url 'app1:registerPenggunaPublik'%}">
                <button type="button" class="pilih-role btn btn-secondary">Pengguna Publik</button>
              </a>
              <a href="{% url 'app1:registerDokter'%}">
                <button type="button" class="pilih-role btn btn-secondary">Dokter</button>
              </a>
              <a href="{% url 'app1:registerAdminSatgas'%}">
                <button type="button" class="pilih-role btn btn-secondary">Admin Satgas</button>
              </a>
            </div>

            <div class="card-header">
                <h3>Register {{ register_peran }}</h3>
            </div>
            {% if error %}
            <div class="error">{{ error }}</div>
            {% endif %}
            <div class="card-body">
              <form method="POST">
                <div class="inputform">
                    {% csrf_token %}
                    {%for field in form%}
                        <p> {{field}} </p>
                    {%endfor%}
                </div>
                <button id="register-submit" class="btn btn-primary intabel" method="POST">Register</button>
              </form>
            </div>

        </div>
      </div>

    </div>
</section>
{% endblock content %}
