{% extends 'base.html' %}
{% load static %}

{%block style%}
<link rel="stylesheet" href="{% static 'app1/css/app1.css' %}">
<title> Daftar Pasien </title>
{%endblock style%}

{%block content%}
<section id="header">
    <div class="headerPasien">
    </div>
</section>
<section id="daftarPasien" class="p-4">
    <div class="daftarPasien">
        <div class="d-flex justify-content-center">
            <div class="card card-pasien">
                {% if 'pengguna_publik' == peran %}
                <div class="card-header">
                    <h3>Form Update Pendaftaran Pasien</h3>
                </div>
                <div class="card-body">
                    <form method="POST">
                        <div class="form-group">
                            {% csrf_token %}
                            {%for field in form%}
                                <p> {{field}} </p>
                            {%endfor%}
                        </div>
                        <button id="submit" class="btn btn-primary intabel" method="POST">Simpan</button>
                    </form>
                </div>
                {% else %}
                <div class="card-header">
                    <h3>Anda tidak dapat mengakses halaman ini</h3>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock content %}