{% extends 'base.html' %}
{% load static %}

{%block style%}
<link rel="stylesheet" href="{% static 'app1/css/app1.css' %}">
<link rel="stylesheet" href="{% static 'app4/css/app4.css' %}">
<title> Buat Ruangan Hotel </title>
{%endblock style%}

{%block content%}
<section id="header">
    <div class="headerRuanganH">
    </div>
</section>

<section id="daftarRuanganH" class="p-4">
    <div class="daftarRuanganH">
        <div class="d-flex justify-content-center">
            <div class="card-create card-pasien">
                <div class="card-header">
                    <h3>Buat Ruangan Hotel</h3>
                </div>
                <div class="card-body">
                    <form method="POST">
                        <div class="form-group">
                            {% csrf_token %}
                            <p>
                                <label for="kode_hotel">Kode Hotel:</label>
                                <select class="custom-select" name="kode_hotel" id="kode_hotel" required>
                                    <option value="" disabled selected hidden>Pilih Kode Hotel</option>
                                </select>
                            </p>
                            <p>
                                <label for="kode_ruangan">Kode Ruangan:</label>
                                <input type="hidden" name="kode_ruangan" value="" id="kode_ruangan" required>
                                <input type="text" name="" class="form-control" required id="kode_ruangan_js" disabled>
                            </p>
                            <p>
                                <label for="jenis_bed">Jenis Bed:</label>
                                <select class="custom-select" name="jenis_bed" id="jenis_bed" required>
                                    <option value="" disabled selected hidden>Pilih Jenis Bed</option>
                                    <option value="Single Bed">Single Bed</option>
                                    <option value="Single Bed">Twin Bed</option>
                                    <option value="Single Bed">King Bed</option>
                                </select>
                            </p>
                            <p>
                                <label for="tipe">Tipe:</label>
                                <select class="custom-select" name="tipe" id="tipe" required>
                                    <option value="" disabled selected hidden>Pilih Tipe</option>
                                    <option value="Suite">Suite</option>
                                    <option value="Deluxe">Deluxe</option>
                                    <option value="Premium">Premium</option>
                                </select>
                            </p>
                            <p>
                                <label for="harga">Harga per Hari:</label>
                                <input type="number" name="harga" class="form-control" id="harga" required>
                            </p>
                        </div>
                        
                        <button id="submit" class="btn btn-primary intabel mt-1" method="POST">Simpan</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
</script>
<script>
    var kode_ruangan = null;
    var kode_hotel = null;

    $.ajax({
    url: '/hotel/ruangan/create/asyc',
    success: function(result) {
        kode_ruangan = result.data.ruangan_hotel;
        kode_hotel = result.data.kode_hotel;
        console.log(kode_hotel);
        console.log(kode_ruangan);

        for (var i=0; i < kode_hotel.length; i++) {
            console.log(kode_hotel[i][0])
            document.getElementById("kode_hotel").innerHTML += '<option value=' + kode_hotel[i][0] + '>' + kode_hotel[i][0] + '</option>';
        }
    }})

    document.getElementById("kode_hotel").oninput = getKodeRuangan;

    function getKodeRuangan() {
        var hotel = document.getElementById("kode_hotel").value;

        for (var i=0; i < kode_ruangan.length; i++) {
            if (kode_ruangan[i][0] == hotel) {
                if (kode_ruangan[i][1] == null) {
                    document.getElementById("kode_ruangan_js").value = "RH001";
                    document.getElementById("kode_ruangan").value = "RH001";
                } else {
                    console.log(kode_ruangan[i][1]);
                    var temp = parseInt(kode_ruangan[i][1].substring(2,5));
                    temp += 1;
                    temp = temp.toString();

                    if (temp.length == 1) {
                        temp = "00" + temp;
                    } else if (temp.length == 2) {
                        temp = "0" + temp;
                    }

                    temp = "RH" + temp;
                    
                    document.getElementById("kode_ruangan_js").value = temp;
                    document.getElementById("kode_ruangan").value = temp;
                }

                break;
            }
        }
    }
</script>
{% endblock content %}
