{% extends 'base.html' %}
{% load static %}

{%block style%}
<link rel="stylesheet" href="{% static 'app1/css/app1.css' %}">
<link rel="stylesheet" href="{% static 'app4/css/app4.css' %}">
<title> Buat Reservasi Hotel </title>
{%endblock style%}

{%block content%}
<section id="header">
    <div class="headerRuanganH">
    </div>
</section>

<section id="daftarRuanganH" class="p-4">
    <div class="daftarRuanganH">
        <div class="d-flex justify-content-center">
            <div class="card-create card-pasien">
                <div class="card-header">
                    <h3>Buat Reservasi Hotel</h3>
                </div>
                <div class="card-body">
                    <form method="POST" onsubmit="return checkTanggal()">
                        <div class="form-group">
                            {% csrf_token %}
                            <p>
                                <label for="nik_pasien">NIK Pasien:</label>
                                <select class="custom-select" name="nik_pasien" id="nik_pasien" required>
                                    <option value="" disabled selected hidden>Pilih NIK Pasien</option>
                                    {% for data in nik_pasien %}
                                        <option value='{{ data.0 }}'>{{ data.0 }}</option>
                                    {% endfor %}
                                </select>
                            </p>
                            <p>
                                <label for="tgl_masuk">Tanggal Masuk:</label>
                                <input type="date" class="form-control" name="tgl_masuk" id="tgl_masuk" required/>
                            </p>
                            <p>
                                <label for="tgl_keluar">Tanggal Keluar:</label>
                                <input type="date" class="form-control" name="tgl_keluar" id="tgl_keluar" required/>
                            </p>
                            <p>
                                <label for="kode_hotel">Kode Hotel:</label>
                                <select class="custom-select" name="kode_hotel" id="kode_hotel" required>
                                    <option value="" disabled selected hidden>Pilih Kode Hotel</option>
                                    {% for data in kode_hotel %}
                                        <option value='{{ data.0 }}'>{{ data.0 }}</option>
                                    {% endfor %}
                                </select>
                            </p>
                            <p>
                                <label for="kode_ruangan">Kode Ruangan:</label>
                                <select class="custom-select" name="kode_ruangan" id="kode_ruangan" required>
                                    <option value="" disabled selected hidden>Pilih Kode Ruangan</option>
                                </select>
                            </p>
                        </div>
                        
                        <button id="submit" class="btn btn-primary intabel mt-1" method="POST">Simpan</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
</script>
<script>
    document.getElementById("kode_hotel").oninput = getKodeRuangan;

    function getKodeRuangan() {
        var url = '/hotel/reservasi/create/asyc/' + document.getElementById("kode_hotel").value;

        $.ajax({
        url: url,
        success: function(result) {
            var kode_ruangan = result.data.kode_ruangan;
            // var kode_hotel = result.data.kode_hotel;
            console.log(result);
            // console.log(kode_ruangan);

            for (var i=0; i < kode_ruangan.length; i++) {
                console.log(kode_ruangan[i][0])
                document.getElementById("kode_ruangan").innerHTML += '<option value=' + kode_ruangan[i][0] + '>' + kode_ruangan[i][0] + '</option>';
            }
        }})
    }

    function checkTanggal() {
        var tgl_keluar = new Date(document.getElementById("tgl_keluar").value);
        var tgl_masuk = new Date(document.getElementById("tgl_masuk").value);

        var res = tgl_keluar - tgl_masuk;

        // console.log(tgl_keluar - tgl_masuk);

        if (res <= 0) {
            alert("Tanggal keluar minimal 1 hari setelah tanggal masuk");
            return false;
        }
    }
</script>
{% endblock content %}
