{% extends 'base.html' %}
{% load static %}

{%block style%}
<link rel="stylesheet" href="{% static 'app1/css/app1.css' %}">
<link rel="stylesheet" href="{% static 'app4/css/app4.css' %}">
<title> List Ruangan Hotel </title>
{%endblock style%}

{%block content%}
<section id="header">
    <div class="headerRuanganH">
    </div>
</section>

<section id="listRuanganH" class="p-4">
    <div class="listRuanganH">
        <div class="d-flex justify-content-center align-items-center">
            <table class="table align-middle shadow p-3 mb-5 bg-white rounded">
                <thead>
                  <tr id="table_h">
                    <th scope="col">No.</th>
                    <th scope="col">Kode Hotel</th>
                    <th scope="col">Kode Ruangan</th>
                    <th scope="col">Jenis Bed</th>
                    <th scope="col">Tipe</th>
                    <th scope="col">Harga</th>
                    {% if peran == "admin" %}
                      <th scope="col">Action</th>
                    {% endif %}
                  </tr>
                </thead>
                <tbody id="table_b">
                  {% for data in ruangan_hotel %}
                  <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ data.0 }}</td>
                    <td>{{ data.1 }}</td>
                    <td>{{ data.2 }}</td>
                    <td>{{ data.3 }}</td>
                    <td>{{ data.4 }}</td>
                    {% if peran == "admin" %}
                      <td>
                        <a href="{% url 'app4:updateRuanganHotel' kode_hotel=data.0 kode_ruangan=data.1 %}">
                          <button type="button" id="update" class="btn btn-secondary">Update</button>
                        </a>
                        {% if data.5 == null %}
                          <a href="{% url 'app4:deleteRuanganHotel' kode_hotel=data.0 kode_ruangan=data.1 %}">
                            <button type="button" id="delete" class="btn btn-secondary">Delete</button>
                          </a>
                        {% endif %}
                      </td>
                    {% endif %}
                  </tr>
                  {% endfor %}

                </tbody>
              </table>
        </div>
    </div>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
</script>
<script>
  // $.ajax({
  //   url: '/hotel/ruangan/asyc',
  //   success: function(result) {
  //     var data = result.data.ruangan_hotel;
  //     console.log(data);

  //     for (var i=0; i < data.length; i++) {
  //       if (data[i][5] == null) {
  //         console.log(data[i][0]);

  //         document.getElementById('table_b').innerHTML += '<tr><th scope="row">' + (i+1)
  //         + '</th><td>' + data[i][0] + '</td><td>' + data[i][1] + '</td><td>' + data[i][2]
  //           + '</td><td>' + data[i][3] + '</td><td>' + data[i][4] + '</td><td>' + '<a class="mr-1" href="{% url &#39;app4:updateRuanganHotel&#39; kode_hotel=' 
  //             + data[i][0] + ' kode_ruangan=' + data[i][1] + ' %}"><button type="button" id="update" class="btn btn-secondary">Update</button></a>'
  //               + '<a class="ml-1" href="{% url "app4:deleteRuanganHotel" kode_hotel=' + data[i][0] + 'kode_ruangan=' + data[i][1]
  //                 + '%}"><button type="button" id="delete" class="btn btn-secondary">Delete</button></a>' + '</td>';
  //       } else {
  //         document.getElementById('table_b').innerHTML += '<tr><th scope="row">' + (i+1) 
  //         + '</th><td>' + data[i][0] + '</td><td>' + data[i][1] + '</td><td>' + data[i][2]
  //           + '</td><td>' + data[i][3] + '</td><td>' + data[i][4] + '</td><td>' + '<a class="mr-1" href="{% url "app4:updateRuanganHotel" kode_hotel=' 
  //             + data[i][0] + 'kode_ruangan=' + data[i][1] + '%}"><button type="button" id="update" class="btn btn-secondary">Update</button></a>';
  //       }
  //     }


  //   }
  // })
</script>

{% endblock content %}