{% extends 'base.html' %}
{% load static %}

{%block style%}
<link rel="stylesheet" href="{% static 'app4/css/app4.css' %}">
<title> List Ruangan Hotel </title>
{%endblock style%}

{%block content%}
<section id="header">
    <div class="headerRuanganH">
    </div>
</section>

<section id="listRuanganH" class="p-4">
    <div class="listRuanganH">
        <div class="d-flex justify-content-center align-items-center">
            <table class="table align-middle shadow p-3 mb-5 bg-white rounded">
                <thead>
                  <tr>
                    <th scope="col">Id Transaksi</th>
                    <th scope="col">NIK Pasien</th>
                    <th scope="col">Tanggal Pembayaran</th>
                    <th scope="col">Waktu Pembayaran</th>
                    <th scope="col">Total Biaya</th>
                    <th scope="col">Status</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                    <tr>
                        {% for data in transaksi_hotel %}
                        <tr>
                            <td>{{ data.0 }}</td>
                            <td>{{ data.1 }}</td>
                            <td>{{ data.2 }}</td>
                            <td>{{ data.3 }}</td>
                            <td>{{ data.4 }}</td>
                            <td>{{ data.5 }}</td>
                            <td>
                                <a href="{% url 'app4:updateTransaksiHotel' id_transaksi=data.0 %}">
                                    <button type="button" id="update" class="btn btn-secondary">Update</button>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tr>
                </tbody>
              </table>
        </div>
    </div>
</section>
{% endblock content %}