{% extends 'base.html' %}
{% load static %}

{%block style%}
<link rel="stylesheet" href="{% static 'app4/css/app4.css' %}">
<title> List Ruangan Hotel </title>
{%endblock style%}

{%block content%}
<section id="header">
    <div class="headerRuanganH">
    </div>
</section>

<section id="listRuanganH" class="p-4">
    <div class="listRuanganH">
        <div class="d-flex justify-content-center align-items-center">
            <table class="table align-middle shadow p-3 mb-5 bg-white rounded">
                <thead>
                    <tr>
                        <th scope="col">No.</th>
                        <th scope="col">NIK Pasien</th>
                        <th scope="col">Tanggal Masuk</th>
                        <th scope="col">Tanggal Keluar</th>
                        <th scope="col">Kode Hotel</th>
                        <th scope="col">Ruangan</th>
                        {% if peran == "admin_satgas" %}
                            <th scope="col">Action</th>
                        {% endif %}
                    </tr>
                </thead>
                    <tbody>
                        {% for data in reservasi_hotel %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ data.0 }}</td>
                            <td>{{ data.1 }}</td>
                            <td>{{ data.2 }}</td>
                            <td>{{ data.3 }}</td>
                            <td>{{ data.4 }}</td>
                            {% if peran == "admin_satgas" %}
                            <td>
                                <a href="{% url 'app4:updateReservasiHotel' kode_pasien=data.0 tgl_masuk=data.1 %}">
                                    <button type="button" id="update" class="btn btn-secondary">Update</button>
                                </a>
                                {% if data.5 != null %}
                                    <a href="{% url 'app4:deleteReservasiHotel' kode_pasien=data.0 tgl_masuk=data.1 %}">
                                        <button type="button" id="delete" class="btn btn-secondary">Delete</button>
                                    </a>
                                {% endif %}
                            </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
        </div>
    </div>
</section>

{% endblock content %}