{% extends 'base.html' %}
{% load static %}

{%block style%}
<link rel="stylesheet" href="{% static 'app4/css/app4.css' %}">
<title> List Ruangan Hotel </title>
{%endblock style%}

{%block content%}
<section id="header">
    <div class="headerRuanganH">
    </div>
</section>

<section id="listRuanganH" class="p-4">
    <div class="listRuanganH">
        <div class="d-flex justify-content-center align-items-center">
            <table class="table align-middle shadow p-3 mb-5 bg-white rounded">
                <thead>
                  <tr>
                    <th scope="col">No.</th>
                    <th scope="col">Id Transaksi</th>
                    <th scope="col">Total Bayar</th>
                    <th scope="col">Kode Pasien</th>
                    <th scope="col">Tanggal Masuk</th>
                  </tr>
                </thead>
                <tbody>
                  {% for data in transaksi_booking %}
                  <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ data.0 }}</td>
                    <td>{{ data.1 }}</td>
                    <td>{{ data.2 }}</td>
                    <td>{{ data.3 }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
        </div>
    </div>
</section>
{% endblock content %}