{% extends 'base.html' %}
{% load static %}

{%block style%}
<link rel="stylesheet" href="{% static 'app1/css/app1.css' %}">
<link rel="stylesheet" href="{% static 'app4/css/app4.css' %}">
<title> Update Transaksi Hotel </title>
{%endblock style%}

{%block content%}
<section id="header">
    <div class="headerRuanganH">
    </div>
</section>

<section id="daftarRuanganH" class="p-4">
    <div class="daftarRuanganH">
        <div class="d-flex justify-content-center">
            <div class="card-create card-pasien">
                <div class="card-header">
                    <h3>Update Transaksi Hotel</h3>
                </div>
                <div class="card-body">
                    <form method="POST">
                        <div class="form-group">
                            {% csrf_token %}
                            <p>
                                <label for="nik_pasien">NIK Pasien:</label>
                                <input type="hidden" name="" value='{{ details.0.1 }}' id="nik_pasien" required>
                                <input type="text" name="" value='{{ details.0.1 }}' class="form-control" required disabled>
                            </p>
                            <p>
                                <label for="id_transaksi">Id Transaksi:</label>
                                <input type="hidden" name="" value='{{ details.0.0 }}' id="id_transaksi" required>
                                <input type="text" name="" value='{{ details.0.0 }}' class="form-control" required disabled>
                            </p>
                            <p>
                                <input type="hidden" id="tgl_bayar_dummy" value='{{ details.0.2 }}' disabled>
                                <label for="tgl_bayar">Tanggal Pembayaran:</label>
                                <input type="date" name="" class="form-control" id="tgl_bayar_js"disabled>
                            </p>
                            <p>
                                <input type="hidden" id="waktu_bayar_dummy" value='{{ details.0.3 }}' disabled>
                                <label for="waktu_bayar">Waktu Pembayaran:</label>
                                <input type="hidden" name="" value='{{ details.0.3 }}' id="waktu_bayar">
                                <input type="text" name="" value='{{ details.0.3 }}' id="waktu_bayar_js" class="form-control" disabled>
                            </p>
                            <p>
                                <label for="total_biaya">Total Biaya:</label>
                                <input type="hidden" name="" value='{{ details.0.4 }}' id="total_biaya">
                                <input type="number" name="" value='{{ details.0.4 }}' class="form-control" disabled>
                            </p>
                            <p>
                                <input type="hidden" id="status_dummy" value='{{ details.0.5 }}' disabled>
                                <label for="status">Status Bayar:</label>
                                <select class="custom-select" name="status" id="status" required>
                                    <option value="Belum Lunas">Belum Lunas</option>
                                    <option value="Lunas">Lunas</option>
                                </select>
                            </p>
                        </div>
                        
                        <button id="submit" class="btn btn-primary intabel mt-1" method="POST">Simpan</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
</script>
<script>
    $(document).ready(function() {
        // document.getElementById('tgl_bayar').value = formatDate(document.getElementById('tgl_bayar_dummy').value);
        document.getElementById('tgl_bayar_js').value = formatDate(document.getElementById('tgl_bayar_dummy').value);

        document.getElementById('status').value = document.getElementById('status_dummy').value;

        console.log(document.getElementById('waktu_bayar_dummy').value)
    });
    
    function formatDate(date) {
        var d = new Date(date),
            month = '' + (d.getMonth() + 1),
            day = '' + d.getDate(),
            year = d.getFullYear();

        if (month.length < 2) 
            month = '0' + month;
        if (day.length < 2) 
            day = '0' + day;

        return [year, month, day].join('-');
    }
</script>
{% endblock content %}
