{% extends 'base.html' %}
{% load static %}

{%block style%}
<link rel="stylesheet" href="{% static 'app1/css/app1.css' %}">
<link rel="stylesheet" href="{% static 'app4/css/app4.css' %}">
<title> Update Ruangan Hotel </title>
{%endblock style%}

{%block content%}
<section id="header">
    <div class="headerRuanganH">
    </div>
</section>

<section id="daftarRuanganH" class="p-4">
    <div class="daftarRuanganH">
        <div class="d-flex justify-content-center">
            <div class="card-create card-pasien">
                <div class="card-header">
                    <h3>Update Ruangan Hotel</h3>
                </div>
                <div class="card-body">
                    <form method="POST">
                        <div class="form-group">
                            {% csrf_token %}
                            <p>
                                <label for="kode_hotel">Kode Hotel:</label>
                                <input type="hidden" name="kode_hotel" value='{{ details.0.0 }}' id="kode_hotel" required>
                                <input type="text" name="" value='{{ details.0.0 }}' class="form-control" required id="kode_hotel_js" disabled>
                            </p>
                            <p>
                                <label for="kode_ruangan">Kode Ruangan:</label>
                                <input type="hidden" name="kode_ruangan" value='{{ details.0.1 }}' id="kode_ruangan" required>
                                <input type="text" name="" value='{{ details.0.1 }}' class="form-control" required id="kode_ruangan_js" disabled>
                            </p>
                            <p>
                                <input type="hidden" id="jenis_bed_dummy" value='{{ details.0.2 }}' disabled>
                                <label for="jenis_bed">Jenis Bed:</label>
                                <select class="custom-select" name="jenis_bed" id="jenis_bed" required>
                                    <option value="Single Bed" id="jenis_sb">Single Bed</option>
                                    <option value="Twin Bed" id="jenis_tb">Twin Bed</option>
                                    <option value="King Bed" id="jenis_kb">King Bed</option>
                                </select>
                            </p>
                            <p>
                                <input type="hidden" id="tipe_dummy" value='{{ details.0.3 }}' disabled>
                                <label for="tipe">Tipe:</label>
                                <select class="custom-select" name="tipe" id="tipe" required>
                                    <option value="Suite" id="tipe_s">Suite</option>
                                    <option value="Deluxe" id="tipe_d">Deluxe</option>
                                    <option value="Premium" id="tipe_p">Premium</option>
                                </select>
                            </p>
                            <p>
                                <label for="harga">Harga per Hari:</label>
                                <input type="number" name="harga" value='{{ details.0.4 }}' class="form-control" id="harga" required>
                            </p>
                        </div>
                        
                        <button id="submit" class="btn btn-primary intabel mt-1" method="POST">Simpan</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
</script>
<script>
    $(document).ready(function() {
        document.getElementById('jenis_bed').value = document.getElementById('jenis_bed_dummy').value

        document.getElementById('tipe').value = document.getElementById('tipe_dummy').value
    });
</script>
{% endblock content %}
