{% extends 'base.html' %}
{% load static %}

{%block style%}
<link rel="stylesheet" href="{% static 'app1/css/app1.css' %}">
<link rel="stylesheet" href="{% static 'app4/css/app4.css' %}">
<title> Update Reservasi Hotel </title>
{%endblock style%}

{%block content%}
<section id="header">
    <div class="headerRuanganH">
    </div>
</section>

<section id="daftarRuanganH" class="p-4">
    <div class="daftarRuanganH">
        <div class="d-flex justify-content-center">
            <div class="card-create card-pasien">
                <div class="card-header">
                    <h3>Update Reservasi Hotel</h3>
                </div>
                <div class="card-body">
                    <form method="POST" onsubmit="return checkTanggal()">
                        <div class="form-group">
                            {% csrf_token %}
                            <p>
                                <label for="kode_pasien">Kode Pasien:</label>
                                <input type="hidden" name="nik_pasien" value='{{ details.0.0 }}' id="kode_pasien" required>
                                <input type="text" name="" value='{{ details.0.0 }}' class="form-control" required id="kode_pasien_js" disabled>
                            </p>
                            <p>
                                <input type="hidden" id="tgl_masuk_dummy" value='{{ details.0.1 }}' disabled>
                                <label for="tgl_masuk">Tanggal Masuk:</label>
                                <input type="hidden" name="tgl_masuk"  value="" id="tgl_masuk" required>
                                <input type="date" name=""class="form-control" required id="tgl_masuk_js" disabled>
                            </p>
                            <p>
                                <input type="hidden" id="tgl_keluar_dummy" value='{{ details.0.2 }}' disabled>
                                <label for="tgl_keluar">Tanggal Keluar:</label>
                                <input type="date" name="tgl_keluar" class="form-control" required id="tgl_keluar">
                            </p>
                            <p>
                                <label for="kode_hotel">Kode Hotel:</label>
                                <input type="hidden" name="kode_hotel" value='{{ details.0.3 }}' id="kode_hotel" required>
                                <input type="text" name="" value='{{ details.0.3 }}' class="form-control" required id="kode_hotel_js" disabled>
                            </p>
                            <p>
                                <label for="kode_ruangan">Kode Ruangan:</label>
                                <input type="hidden" name="kode_ruangan" value='{{ details.0.4 }}' id="kode_ruangan" required>
                                <input type="text" name="" value='{{ details.0.4 }}' class="form-control" required id="kode_ruangan_js" disabled>
                            </p>
                        </div>
                        
                        <button id="submit" class="btn btn-primary intabel mt-1" method="POST">Simpan</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $(document).ready(function() {
        document.getElementById('tgl_masuk').value = formatDate(document.getElementById('tgl_masuk_dummy').value);
        document.getElementById('tgl_masuk_js').value = formatDate(document.getElementById('tgl_masuk_dummy').value);

        document.getElementById('tgl_keluar').value = formatDate(document.getElementById('tgl_keluar_dummy').value);
    });

    function formatDate(date) {
        var d = new Date(date),
            month = '' + (d.getMonth() + 1),
            day = '' + d.getDate(),
            year = d.getFullYear();

        if (month.length < 2) 
            month = '0' + month;
        if (day.length < 2) 
            day = '0' + day;

        return [year, month, day].join('-');
    }

    function checkTanggal() {
        var tgl_keluar = new Date(document.getElementById("tgl_keluar").value);
        var tgl_masuk = new Date(document.getElementById("tgl_masuk").value);

        var res = tgl_keluar - tgl_masuk;

        // console.log(tgl_keluar - tgl_masuk);

        if (res <= 0) {
            alert("Tanggal keluar minimal 1 hari setelah tanggal masuk");
            return false;
        }
    }
</script>
{% endblock content %}
