{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <!-- BOOTSTRAP -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

  <!-- CSS -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  <link rel="shortcut icon" type="image/jpg" href="{% static 'img/Logo.png' %}"/>
  {% block style %}
  {% endblock style %}
</head>

<body>
        <!-- NAVBAR -->
        <nav class="navbar fixed-top navbar-expand-md scrolling-navbar">
            <a class="navbar-brand" href="{% url 'app1:homepage' %}">
            <img id="logo" src="{% static 'img/Logo.png' %}">
            </a>

            <div class="collapse navbar-collapse flex-row-reverse" id="navbarNav">
            <ul class="navbar-nav">
                {% if is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'app1:dashboard' %}">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">|</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'app1:homepage' %}">Rumah Sakit</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'app1:dashboard' %}">Halo, {{ username }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'app1:logout' %}">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'app1:homepage' %}">Homepage</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">|</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'app1:login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'app1:registerAdminSistem' %}">Register</a>
                </li>
                {%endif%}
            </ul>

        </nav>
        <!-- NAVBAR -->

    {% block content %}
    {% endblock content %}

        <!-- FOOTER -->
        <footer class="text-center text-white">

            <!-- Grid container -->
            <div class="container pt-4">

              <!-- Section: Social media -->
              <section class="mb-4">
                <!-- Twitter -->
                <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button" data-mdb-ripple-color="dark">
                    <img id="logo" src="{% static 'img/Logo.png' %}">
                </a>
              </section>
              <!-- Section: Social media -->

            </div>
            <!-- Grid container -->
        </footer>
        <!-- FOOTER -->

</body>

</html>