body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar{
    background-color:transparent !important;
    border-color:transparent !important;
    padding-left: 8%;
    padding-right: 8%;
}

.nav-link{
    color: black !important;
}

hr{
    margin-left: 45%;
    margin-top: -6%;
    border-top: 20px solid #B20119 !important;
}

footer{
    background-color: #3B8289;
}

.sosmed{
    width: 40px;;
}

.sub-menu-1{
    display: none;
}
